--- 
title: "Policy in Practice: Supporting Ready Patient Access to Test Results"
cleanUrl: "https://www.healthit.gov/news/events/policy-practice-supporting-ready-patient-access-test-results"
date: "2023-06-06T18:10:40Z"
sourceBaseUrl: "www.healthit.gov"
banner : "/images/resources/Policy in Practice Supporting Ready Patient Access to Test Results.jpg"
breadcrumbs:
 - Home
 - Press
 - Policy in Practice  Supporting Ready Patient Access to Test Results
breadcrumbLinks:
 - / 
 - /press
 - / 
---
MONDAY JUNE 5, 2023 FROM 2:00 3:30 PM ET , Recently, the JAMA Open Network released findings from a March 2023 study showing that most patients preferred to receive their test results immediately online. ONC information blocking regulations support patients access to their electronic test results without unnecessary delay, and the health IT community continues to implement innovative approaches to support such access. Join ONC to hear patient advocates and health IT experts discuss how more immediate access to test results is changing the care paradigm for patients. Also, hear howproviders are advancing communications with patients throughout the test ordering and result process.
