{{ if .Site.Params.healthinformation.enable }}
    {{"<!-- Service Section -->" | safeHTML}}
    <section id="healthinfo" class="service section">
        <div class="container">
            <div class="row">
                <div class="heading wow">
                    <!--{{ with .Site.Params.healthinformation.title }}
                        <h1 class="unblock-h1">{{ . }}</h1>
                    {{ end }}-->
                   {{ with .Site.Params.healthinformation.subtitle }}
                        <h2>{{ . }}</h2>
                    {{ end }}
                </div>
                {{ $counter := 0 }}
                {{ range .Site.Params.healthinformation.healthinformationItem }}
                    <div class="col-sm-6 col-md-3 wow" data-wow-delay="{{ .delay }}">
                        <div class="block">
                            <!--<i class="{{ .icon }}"></i>-->
                            <img src="{{ .icon }}" class="img-responsive healthinfo-img" alt="{{ .title | safeHTML }}" title="{{ .title | safeHTML }}"/>
                            <h3>{{ .title | safeHTML}}</h3>
                                  
                                <ul id="myList{{$counter}}">
                                <li>{{ .description }}</li>
                                <li>{{ .him1 }}</li>
                                <li>{{ .him2 }}</li>
                                <li>{{ .him3 }}</li>
                                <li>{{ .subdesc}}</li>
                            </ul>
                            <div id="loadMore{{$counter}}" class="readmore-link">Read More</div>
                            <div id="showLess{{$counter}}" class="readmore-link">Show less</div>
                            {{ $counter = add $counter 1 }}
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}