{{ if .Site.Params.service.enable }}
    {{"<!-- Service Section -->" | safeHTML}}
    <section id="service" class="service section">
        <div class="container">
            <div class="row">
                <div class="heading wow ">
                    {{ with .Site.Params.service.title }}
                        <h2>{{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.service.subtitle }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>
            </div>
                {{ $counter := 0 }}
                {{ range .Site.Params.service.serviceItem }}
                {{ if or (eq $counter  0)  (eq $counter  4)}}
                  <div class="row">
                 {{end}}
                    <div class="col-sm-6 col-md-3 wow " data-wow-delay="{{ .delay }}">
                        <div class="block">
                            <img src="{{ .icon }}" class="img-responsive healthinfo-img" alt="{{ .title }}" title="{{ .title }}"/>
                            <h3>{{ .title }}</h3>
                            <div class="comment more">{{ .description }}</div>
                        </div>
                         {{ $counter = add $counter 1 }}
                    </div>
                    {{ if or (eq $counter  4) (eq $counter  9) }}
                  </div>
                 {{end}}   
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}