/*--
    Common Css
--*/
body {
  font-size: 12px;
  font-weight: 300;
  line-height: 25px;
  color: #3b4045;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px;
}

h1 {
   color: #3c3c3c;
    padding-bottom: 15px;
    font-weight: normal;
    font-size: 44px;
    line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 35px;
}

h3 {
  font-size: 23px;
  line-height: 25px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 25px;
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
}

.section {
  padding: 100px 0;
}


.top-head-shot a {
  color: #91ade0;
}
.top-head-shot img {
  height: 51px;
}
.head-shot-col {
  float: right;
  margin:0 10px 0 10px;
}
/*05.11.19*/

.eapps-twitter-feed .eui-widget-title a{
  color: #fff !important;
}
.eapps-twitter-feed .eui-widget-title {
    padding-bottom: 0;
    margin-bottom: 15px !important;
    font-size: 23px !important;
    font-weight: normal !important;
    text-align: left !important;
 
}
.eapps-twitter-feed-extra-small .eapps-twitter-feed-posts-item-text {
    text-align: left;
}
li.nav-item.current a {
    color: #91ade0 !important;
}
.herobtnsection{width: 65%;margin: 50px auto 0px;}
/*Style for twitter feed starts here*/
.twitter-feed-sec p {
    line-height: 17px;
}
.twitter-feed-sec .post {
    margin: 10px 0 0 0 !important;
}
.twitter-feed-sec span.right {
    margin-top: 0;
    float: right;
}
.twitter-feed-sec .media-body {
    padding-left: 0;
    font-size: 0;
    position: relative;
    top: 4px;
}
.main{
         background-color: white;
         margin: auto;
         position: relative;
         
         }
         body{
         }
         .media-object{
         width: 3.5vw;
         height: 3.5vw;
         }
         .media{
         padding: 0.5vw 0 0.5vw 0
         }
         .media-body{
         padding-left: 1vw;
         font-size: 1.2vw;
         position: relative;
         top: 0.5vw;
         }
         .fa-ellipsis-h{
         position: relative;
         bottom: 2vw;
         font-size: 1.5vw;
         margin-right: 1vw;
         }
         .panel-body{
         padding: 1vw;
         }
         .not{
         height: 20vw;
         width: 100%;
         }
         .iconsec{
         /*padding-top: 1vw;
         padding-left: 0.5vw;*/
         font-size: 1.2vw;
         }
         .caption{
         padding-left: 0.5vw;
         }
         .read{
         padding-left: 0.5vw;
         cursor: pointer;
         color: grey;
         }
         .time{
         font-size: 0.8vw;
         display: block;
         }
         .fa{
         cursor : pointer
         }
         #open{
         width: 100%;
         background-color: #d32f2f;
         }
         #open:hover{
         background-color: white;
         color: #d32f2f;
         }
         /*.menu{
         width: 100%;
         background: inherit;
         height: 3vw;
         display: none;
         }*/
         /*.menu a{
         margin-left: 2vw;
         margin-right: 2vw;
         font-size: 2vw;
         color: #d32f2f;
         }*/
         @media only screen and (max-width: 425px){
         .main{
         width: 100vw;
         }
         .media-object{
         width: 10.5vw;
         height: 10.5vw;
         }
         .media{
         padding: 1.5vw;
         }
         .media-body{
         padding-left: 3vw;
         font-size: 5.6vw;
         position: relative;
         top: 1.5vw;
         }
         .fa-ellipsis-h{
         position: relative;
         bottom: 10vw;
         font-size: 5.5vw;
         margin-right: 3vw;
         }
         .panel-body{
         padding: 3vw;
         }
         .not{
         height: 60vw;
         width: 100%;
         }
         .iconsec{
         padding-top: 3vw;
         padding-left: 1.5vw;
         font-size: 5.6vw;
         }
         .caption{
         padding-left: 1.5vw;
         }
         .read{
         padding-left: 1.5vw;
         }
         .time{
         font-size: 3.5vw;
         }
         /*.menu{
         height: 9vw;
         }*/
         /*.menu a{
         margin-left: 6vw;
         margin-right: 6vw;
         font-size: 6vw;
         color: #d32f2f;
         }*/
         }

.time span {
  padding: 0 0 0 10px;
}

.time, .time span{
    font-size: 11px;
    color: #657786;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
}
.feed-main-name{
    font-size: 13px;
    line-height: 15px;
    color: #14171a;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
}
span.time-lapse, .separator {
    font-weight: normal;
}
.description-area p a{
    color: #32a0c2;
    text-decoration: none;
}
.description-area p{
    font-size: 13px;
    line-height: 19px;
    color: #14171a;
}
.post img {
    border-radius: 15px;
    padding-bottom: 9px;
}
.iconsec i {
    font-size: 14px;
    color: #657786;
}
.iconsec i {
    margin-right: 14px;
}
.iconsec i span{
    padding-left: 6px;
    color: #657786;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: -3px;
}
.description-area, .post{
     font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.twitter-icon-right a i{
    color: #e5e5e5;
}
.twitter-icon-right a:hover i{
    color: #25a1c0;
}
.retweet-top .retweet-count a{
    color: #657786;
}
.retweet-top .retweet-count a:hover{
    color: #014c8c !important;
    text-decoration: underline;
}
.retweet-top .retweet-count{
   font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #657786;
    font-size: 12px;
    line-height: 12px;
    margin-left: 8px;
    position: relative;
    top: -3px;
}
.twitter-feed h4 {
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
    font-size: 23px;
    line-height: 25px;
}
.retweet-top i.fa.fa-retweet {
    color: #657786;
}
.retweet-top {
    margin-bottom: 10px;
 }
 span.twitter-icon-right {
    float: right;
}
.loadmore{
    background-color: #dddedf !important;
    cursor: pointer !important;
    color: #7f8588 !important;
    font-size: 14px !important;
    width: 93% !important;
    margin-bottom: 15px !important;
    box-shadow: none;
    border-radius: 5px !important;
}
.media-left {
    width: 40px !important;
    height: 40px !important;
}
.media-left img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.description-area p a:hover{
    text-decoration: underline;
}
.twitter-feed-sec svg {
    display: inline-block;
    fill: #657786;
    width: 18px;
    height: 18px;
}
.iconsec i {
    margin-right: 15px;
    display: inline-block;
}
.loadmore:hover {
    background-color: #dddedf !important;
    box-shadow: none !important;
}
.twitter-feed-sec {
    margin-bottom: 15px;
    background: #fff;
    text-align: left;
}
.twitter-feed-main{
    background: #fafafa;
    height: 397px;
    overflow: auto;
}
.border-text-content{
    border-top-left-radius:0;
    border-top-right-radius: 0;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #e1e8ed;
    display: block;
    margin-top: -15px;
    text-align: center;
    padding: 10px 25px;
}
.border-text-content h2{
    font-size: 13px;
    line-height: 19px;
    font-weight: 700;
    color: #14171a;
    margin: 20px 0 10px 0;
}
 .border-text-content p{
    font-size: 13px;
    line-height: 19px;
    color: #14171a;
}
.twitter-link{
    text-transform: lowercase;
    color: #8899a6;
    font-size: 12px;
    line-height: 19px;
}

.share-dropdown .dropdown-toggle{
    background: none !important;
    border: 0 !important;
}
.share-text{
    color: #657786;
    text-transform: none;
    text-decoration: none;
    font-size: 11px;
    font-style: normal;
    margin-left: 5px;
    position: relative;
    top: -5px;
}
.dropup.share-dropdown .dropdown-toggle::after{
    display: none;
}
.share-dropdown:hover .dropdown-menu{
    display: block !important;
}
.share-dropdown .facebook i{
    color: #3e68c0;
    font-size: 13px;
    width: 20px;
    font-weight: normal !important;
}
.share-dropdown .twitter i{
    color: #2aabff;
    font-size: 14px;
    width: 16px;
    font-weight: normal !important;
}
.share-dropdown .dropdown-menu{
    color: #17191a;
    font-size: 13px;
    font-weight: 400;
    left: -121px;
}
.share-dropdown{
    float: right;
    margin-top: -25px;
}
.share-dropdown ._6a._6b {
    font-size: 13px;
    color: #17191a;
    font-size: 13px;
    font-weight: 400;
}
.share-dropdown .mrs {
    margin-right: 10px;
}
a.dropdown-item.twitter {
     font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #385898;
    cursor: pointer;
}
.share-dropdown .dropdown-item:focus, .share-dropdown .dropdown-item:hover {
    background-color:transparent !important;
}


.twitter-widget-title {
    margin-bottom: 15px !important;
    font-size: 23px !important;
    font-weight: normal !important;
    text-align: left !important;
}
.twitter-widget-title a{
color: #fff !important;
}
/*Style for twitter feed ends here*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {



}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 

.row.top-head-shot {
    position: fixed;
    top: 20px;
    right: 170px;
}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {



}

@media (min-width: 320px) and (max-width: 480px) {


  .brief-outer .card-img{
    width: 100%;
}

  .row.top-head-shot{
    position: fixed;
    top: 10px;
    right: 20px;
  }
  button.navbar-toggler {
    right: 10px !important;
    top: 85px !important;
}
div#navbarResponsive {
    /*background-color: rgba(0, 0, 0, 0.9);*/
    padding-left: 15px;
    width: 221px;
    margin-top: 32px;
}
nav#top-nav{
  height: 150px;
}


}
@media (max-width: 767px) {
  /*.post-figure img {
    display: none!important;
}
.cover-content {
    width: 100%!important;
    padding: 20px 12px!important;
    border: 0px solid #ededed!important;
    margin-top: 0px!important;
}*/
.herobtnsection{width: 100%;margin: auto;}
div#breadcrumbs { margin-top: 35px; padding-bottom: 0;}
 .single-body {
    margin-top: 150px !important;
}
.date-display {
    margin-bottom: 25px;
}
/*.brief-outer {
    padding-top: 210px !important;
}*/
.cover-content a, .cover-content p{
    word-break: break-word;
}
  }

@media (min-width: 481px) and (max-width: 767px) {

    .hero-area h1 {
    line-height: 32px !important;
    font-size: 25px !important;
    margin-top: 155px !important;
}
nav#top-nav{
  height: 150px;
}

.row.top-head-shot{
    position: fixed;
    top: 10px;
    right: 20px;
  }
  button.navbar-toggler {
    right: 10px !important;
    top: 85px !important;
}


}




section.section.sitemap {
    padding-top: 120px;
}
section.section.sitemap .heading{
      padding-bottom: 0px !important;
}
.top-head-shot {
  text-align:center;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  font-style: italic;
  font-weight: 600;
}
.animated .headshot-title, .confirmregistration .headshot-title{
    color: #242727;
}
nav#top-nav {
    background: rgba(0, 0, 0, 0.1);
}
.navigation.animated {
    background-color: #fff !important;
    box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15);
}
.headshot-container {
    padding: 0;
}
 .top-head-shot a {
    color: #6d8fcc;
    font-weight: normal;
    font-size: 11px;
}
span.headshot-title {
    position: absolute;
    font-weight: normal;
    font-size: 10px;
right: 60px;
    top: -5px;
}
.head-shot-col {
    margin-top: 10px;
}

/*end */

/*--
    custom heading
--*/
.text-center {
  text-align: center;
}

.heading {
  text-align: center;
  color: #777777;
  padding-bottom: 70px;
}

.heading h2 {
  color: #3c3c3c;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.heading p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
}

.btn {
  border-radius: 0;
}

.btn-home {
  background-color: #91ade0;
  border-radius: 0px;
  color: #fff;
  font-size: 18px;
  padding: 10px 40px;
  margin-top: 30px;
}

.btn-home:hover,
.btn-home:focus {
  background-color: #fff;
  color: #555;
  border: 1px solid #fff;
}


/*Preloader*/
#preloader {
  background-color: #fff;
  bottom: auto;
  height: 100%;
  left: auto;
  position: fixed;
  right: auto;
  top: auto;
  width: 100%;
  z-index: 9999;
}

.book {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  margin: 0 auto;
  border: 5px solid #ecf0f1;
  width: 100px;
  height: 60px;
}

.book__page {
  position: absolute;
  left: 50%;
  top: -5px;
  margin: 0 auto;
  border-top: 5px solid #ecf0f1;
  border-bottom: 5px solid #ecf0f1;
  border-right: 5px solid #ecf0f1;
  background: #6d8fcc;
  width: 50px;
  height: 60px;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: flip 1.2s infinite linear;
  animation: flip 1.2s infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.book__page:nth-child(1) {
  z-index: -1;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.book__page:nth-child(2) {
  z-index: -2;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.book__page:nth-child(3) {
  z-index: -3;
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
}

.breif-row {
    border: 2px solid !important;
    padding: 10px 10px 10px 10px !important;
    margin-bottom: 10px !important;
    border-color: #DDDDDD !important;
}

.breif-row img {
    max-height: 185px !important;
}

.pagination {
    display: flex;
    list-style: none;
    border-radius: .25rem;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .75rem 1rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
    background-color: #fff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
  }

  20% {
    background: #6d8fcc;
  }

  29.9% {
    background: #6d8fcc;
  }

  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
    transform: perspective(200px) rotateY(-90deg);
    background: #6d8fcc;
  }

  54.999% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #6d8fcc;
  }

  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #6d8fcc;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
  }

  20% {
    background: #6d8fcc;
  }

  29.9% {
    background: #6d8fcc;
  }

  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
    transform: perspective(200px) rotateY(-90deg);
    background: #6d8fcc;
  }

  54.999% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #6d8fcc;
  }

  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #6d8fcc;
  }
}

/*--
    .hero-area start
--*/

.bg-gray {
  background: #f8f8f8;
}

.hero-area {
  background-size: cover;
  background-attachment: fixed;
  /*height: 100vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 170px 0 90px 0px;
}

.hero-area h1 {
  color: #fff;
  /*font-size: 44px;*/
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 19px;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
.twitter-feed iframe {
    background: #fff;
    margin-top: 10px;
}
.hero-area p {
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.hero-area .counter {
  background: rgb(36, 39, 39, 0.3);
  padding: 5px 18px ;
  border-radius: 5px;
}

.hero-area .counter ul li {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  display: inline-block;
  line-height: 25px;
  padding: 25px 28px 20px;
  text-align: center;
  width: 49%;
  margin-bottom: 3px;
}

.hero-area .counter ul li span {
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.hero-area .counter ul li .digit {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  position: relative;
  overflow: hidden;
  height: 60px;
}
 .faq-title {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 15px;
    border-top: 1px solid #efefef;
    margin:10px;
}
.faq-content{
  margin:10px;
}
@media only screen and (max-width:400px) {
  .hero-area .counter ul li .digit {
    font-size: 30px;
    line-height: 30px;
    height: 40px;
  }
}

.hero-area .btn {
  margin-bottom: 10px;
}

.float-none {
  float: none;
}

@media only screen and (min-width: 991px) {
  .float-lg-left {
    float: left;
  }
}

/* .hero-area  */
.navigation {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 50px;
  margin: 0;
  border: 0;
}

.navigation .navbar-brand {
  padding-top: 5px;
  display: inline-block;
}

.navigation .navbar-toggler {
  background: #fff;
  outline: none;
  border-radius: 0;
  float: right;
}

.navigation .navbar-toggler i {
  font-size: 22px;
}

.navigation.animated {
  background-color: #fff;
  box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15);
}

.navigation.animated .menu a {
  color: #666;
}

.menu li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.menu li a:hover,
.menu li a:focus {
  background: none;
}

.brief-outer a {
  color: #333 !important;
  text-decoration: none !important;
}
.single-body a {
  text-decoration: none !important;
}
.post-date {
  display: block;
  color: #7a7b7c;
  font-size: 0.8em;
  margin: 0;
}
.breadcrumb {
  background-color: #fff !important;
}
.single-body p {
  margin: 0 0 10px;
}
.selected_navigation {
  color:#6d8fcc !important;
}
.new-ofer-breadcrumbs {
  color: #999;
  font-size: 14px;
  line-height: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: capitalize;
}
 #breadcrumbs a {
    color: #0275d8 !important;
    text-decoration: none;
}
/*--
    service start
--*/
.service {
  text-align: center;
  padding-bottom: 0;
}

.service .block {
  margin-bottom: 50px;
}

.service .block i {
  font-size: 30px;
  display: inline-block;
  margin-bottom: 15px;
  color: #6d8fcc;
}

.service .block h3 {
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0px;
  min-height: 51px;
}
.service.section .heading p {
    width: 75%;
    margin: auto;
    font-size: 16px;
}

.service .block p {
  color: #666;
      min-height: 200px;
}

/*--
    About start
--*/
.about .content h3 {
      font-size: 19px;
    font-weight: bold;
    line-height: 25px;
    color: #6d8fcc;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.about li {
    font-size: 15px;
    color: #000;
}

.about .about-slider img {
  width: 100%;
  height: auto;
}

/*--
    call-to-action start
--*/
.call-to-action {
  padding: 50px 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: 1px solid #dcdbdb;
}

.call-to-action:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.call-to-action .block h2 {
  font-size: 30px;
  margin-bottom: 6px;
  font-weight: 600;
  color:#3c3c3c;
}

.call-to-action .block p {
  padding-right: 30px;
  color: #fff;
}

.call-to-action .block .input-group {

}

.call-to-action .block .input-group input {
  height: 50px;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.call-to-action .block .input-group .btn-subscription {
  height: 50px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: #242727;
  padding: 0px 35px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.input-field .form-control {
  box-shadow: none;
  background: #eaeaea;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  border-radius: 0;
}

.btn-send {
  line-height: 25px;
  border: 0;
  background: #6d8fcc;
  color: #fff;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0;
  margin-top: 10px;
}

.btn-send:hover {
  color: #fff;
}

.input-field label {
  color: rgba(237, 28, 36, 0.7);
}

.form-group .input-field+.input-field {
  margin-top: 10px;
}

.input-field textarea.form-control {
  height: 156px;
  box-shadow: none;
}

.form-group {
  margin-top: 10px;
}

#success,
#error {
  display: none;
}

footer {
  text-align: center;
  background: #272727;
  padding: 27px 0px;
}

footer p {
  font-weight: 300;
  font-size: 12px;
  color: #dfdfdf;
  
}

footer p a {
  color: #fff;
}

footer p a:hover {
  color: #fff;
  text-decoration: none;
}
.about li {
    font-size: 15px;
    list-style-type: circle;
    margin-left: 18px;
    line-height: 19px;
    margin-bottom: 7px;
}
a.btn.btn-home {
    width: 45%;
    float: left;
    word-break: break-word;
    white-space: normal;
    font-size: 15px;
    font-weight: bold;
}
a.btn.btn-home:nth-child(2) {
    background: #45a699;
}
a.btn.btn-home:nth-child(2):hover{
  background-color: #fff;
  color: #555;
  border: 1px solid #fff;
}
.healthinfo-img {
    width: 50px;
        margin-bottom: 15px;
}
.error{
    color: red !important;
    /*font-size: 12px !important;*/
    margin-left: 0;
    text-align: left;
}
section#healthinfo {
    padding-bottom: 0;
}
section#healthinfo .block {
    margin-bottom: 0;
}
.sub-heading h4 {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
}
.form-control{
  color: #999999 !important;
}
select#herobtn {
    height: 50px;
}
.next-article-date{
display: block;
    color: #7a7b7c;
    font-size: 15px;
    margin: 0;
}
a.morelink {
    display: block;
    background: #6d8fcc;
    width: 100px;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}
a.morelink:hover {
    text-decoration: none;
    background: #45a798;
}
.counter.text-center p {
    color: #000;
    font-weight: normal;

}
.comment {
    min-height: 200px;
    font-size: 16px;
}
.morecontent span {
  display: none;
}
section#healthinfo ul {
    min-height: 120px;
    margin-left: 20px;
    min-height: 200px;
}
section#healthinfo li{
  list-style:circle;
  text-align: left;
  padding-right: 20px;
  font-size: 16px;
  
}
.readmore-link {
    cursor: pointer;
}
section#healthinfo {
    margin-bottom: 90px;
}
#myList0 li{ display:none;
}
#myList1 li{ display:none;
}
#myList2 li{ display:none;
}
#myList3 li{ display:none;
}
 ul#myList0 li:last-child {
  display: none !important;
}
 ul#myList1 li:last-child, ul#myList1 li:nth-last-child(2) {
  display: none !important;
}
ul#myList2 li:last-child, ul#myList2 li:nth-last-child(2) {
  display: none !important;
}
.readmore-link{
    display: block;
    background: #6d8fcc;
    width: 100px;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
    color: #fff;
    padding: 5px;
    font-size:14px;
}
.readmore-link:hover{
 text-decoration: none;
 background: #45a798;
}
#loadMore1 {
    cursor:pointer;
}
#showLess1 {
    cursor:pointer;
}
.col-lg-6.partnersection:nth-child(2) {
    text-align: left;
}
.col-lg-6.partnersection {
    text-align: right;
    margin-top: 35px;
}
section#contact {
    padding-top: 80px;
    background: #f8f8f8;
}
.brief-outer .post.dropcase a {
    color: #0275d8!important;
}
.brief-outer .post.dropcase a:hover {
    color: #014c8c!important;
}

@media (max-width: 480px) {

  .navigation .navbar-toggler {
    position: absolute;
    right: 0;
    top: 0;
}

  .comment {
    min-height: auto !important;
  }

  .service .block {
    margin-bottom: 0;
}

  .col-lg-6.partnersection {
    text-align: center !important;
}

  section#healthinfo {
    margin-bottom: 20px;
}

 .service .fadeInLeft {
    margin-bottom: 35px;
}

  section#healthinfo ul {
    min-height: auto;
}
.heading {
    padding-bottom: 20px;
}
  .section {
    padding: 50px 0;
}

  nav#top-nav {
    padding: 10px;
  }

  .hero-area{
    height: auto !important;
    padding: 80px 0 80px 0px !important;
  }
  .hero-area h1 {
    line-height: 32px !important;
    font-size: 25px !important;
    margin-top: 155px !important;
}
a.btn.btn-home {
    width: 100% !important;
    float: inherit !important;
}
a.btn.btn-home:nth-child(2) {
    margin-top: 0 !important;
}
.service .block p{
  min-height: 90px !important;
}
.heading h2{
  font-size: 25px !important;
    line-height: 30px !important;
}
.call-to-action .block .input-group input{
  width: 100% !important;
  float: inherit !important;
  margin-bottom: 25px !important;
}
input#subscribe-submit {
    height: 50px;
    width: 100%;
}
#subscribe .custom-error {
    position: absolute;
    bottom: 57px !important;
    margin-left: 15px !important;
    z-index: 9;
}
span.input-group-btn {
    display: block !important;
}

.confirmregistration .nav a {
    /*color: #fff !important;*/
}
.sitemap li {
    list-style-type: square;
    width: 100% !important;
    float: none;
    padding-left: 45px;
}
.sitemap h2 {
    margin-top: 35px;
}

}


@media (min-width: 481px) and (max-width: 767px) {
  .sitemap h2 {
    margin-top: 35px;
}
  .sitemap li {
    list-style-type: square;
    width: 100% !important;
    float: none;
    padding-left: 45px;
}

.confirmregistration a {
    color: #fff !important;
}
  .navigation .navbar-toggler {
    position: absolute;
    right: 0;
    top: 0;
  }

  #subscribe .error {
    position: absolute;
    bottom: 45px !important;
    margin-left: 10px !important;
}
input#subscribe-submit {
    height: 50px;
    width: 92%;
    margin-top: 10px;
}
#subscribe .input-group {
  position: relative;
  width: 100%;
}
  .service .block h3{
    min-height: 81px;
  }

  /*.comment {
    min-height: auto !important;
  }*/

  .service .block {
    margin-bottom: 0;
}
  .col-lg-6.partnersection {
    text-align: center !important;
}

section#healthinfo {
    margin-bottom: 20px;
}
  .service .fadeInLeft {
    margin-bottom: 35px;
}

 /* section#healthinfo ul {
    min-height: auto;
}*/

  .heading {
    padding-bottom: 20px;
}

  .section {
    padding: 50px 0;
}

  nav#top-nav {
    padding: 10px;
}

.hero-area{
  height: auto !important;
  padding: 80px 0 80px 0px !important;
}
/*.hero-area h1{margin-top:0px !important;}*/

a.btn.btn-home {
    width: 100% !important;
    float: inherit !important;
}
a.btn.btn-home:nth-child(2) {
    margin-top: 0 !important;
}
.service .block p{
  min-height: 90px !important;
}
.heading h2{
  font-size: 25px !important;
    line-height: 30px !important;
}
.call-to-action .block .input-group input{
  width: 100% !important;
  float: inherit !important;
}
span.input-group-btn {
    display: block !important;
}
div#navbarResponsive {
    /*background-color: rgba(0, 0, 0, 0.9);*/
    padding-left: 15px;
    width: 221px;
    margin-top: 10px;
}

}


@media (min-width: 768px) and (max-width: 1024px) {

  .about li {
    font-size: 14px;
    line-height: 18px;
}
  .sub-heading h4 {
    font-size: 14px;
    line-height: 18px;
  }

  .service .block {
    margin-bottom: 0;
}

  .service .block h3 {
    font-size: 14px;
    min-height: 80px !important;
    line-height: 20px;
}
section#healthinfo ul{
  min-height: 145px;
}
section#healthinfo li {
    padding-right:0px;
    font-size: 14px;
    line-height: 18px;
}
.about .content h3 {
    font-size: 17px;
    font-weight: bold;
    line-height: 21px;
  }
  .comment {
    min-height: 150px;
    font-size: 14px;
    line-height: 18px;
}

  .section {
    padding: 50px 0;
}

.heading h2{
  font-size: 30px;
}
.heading{
  padding-bottom: 30px;
}
  .counter.text-center p{
    font-size: 15px;
  }

.hero-area .counter ul li .digit{
  font-size: 30px;
}
h1.wow.fadeInDown {
    font-size: 30px !important;
    line-height: 38px !important;
}
a.btn.btn-home {
    width: 50% !important;
    float: left !important;
}
/*a.btn.btn-home:nth-child(2) {
    margin-top: 0 !important;
}*/
a.nav-link {
    cursor: pointer;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  section#healthinfo ul{
  min-height: 235px;
  }
}

div#success {
    text-align: center;
    font-size: 16px;
    padding: 15px 0 0 0;
    color: #4CAF50;
}
div#successfooter {
    text-align: center;
    font-size: 16px;
    padding: 15px 0 0 0;
    color: #4CAF50;
}
div#confirmmsg {
    color: #4CAF50;
    font-size: 22px;
    text-align: center;
    background: #f3f3f3;
    margin-top: 150px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 50%;
    margin: auto;
    border-radius: 15px;
}
.confirm-page-footer{
  position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
footer.timeline-Footer.u-cf {
    display: none;
}
header.MediaCard-siteUser {
    display: none;
}
.SandboxRoot.env-bp-430 .timeline-Tweet-text {
    font-size: 14px;
    line-height: 18px;
  }
.twitter {
    padding-top: 10px;
}
#commonfooter .form-group .form-control {
    margin-bottom: 10px;
}
.timeline-Widget{
  border-radius: 0 !important;
}
footer ul#top-nav {
    width: 60%;
    margin: auto;
}
.copyright-txt{
    font-weight: normal;
    letter-spacing: 1px;
    width: 100%;
    display: inline-block;
}
.about-unblock {
    color: #fff;
    font-size: 14px;
    text-align: left;
}
section#register {
    background: #f8f8f8;
}
.timeline-Footer{
  display: none !important; 
}
.about-unblock p {
    font-weight: normal;
    letter-spacing: 0;
    font-size: 14px;
    margin-top: 20px;
}
.about-unblock img {
    margin-top: 12px;
    width: 175px;
} 
.footer-content .col-md-12 {
    border-top: 1px solid;
    margin-top: 15px;
    padding-top: 15px;
}

.quick-contact h3 {
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
}
.subscribe-form .form-control {
    height: 50px;
    border-radius: 0;
    border: 0;
}
input#subscribe-submit {
    height: 50px;
}
form#subscribe {
    margin-top: 35px;
}
/* #subscribe .error{
    position: absolute;
    bottom: -30px;
    margin-left: 10px !important;
    color: #fff !important;
} */
#subscribe .input-group{
  position: relative;
  width: 250px;
}
#subscribe label.error {
  color: white !important;
  font-size: 12px !important;
  margin-left: 0;
  text-align: left;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
}
#contactform label.error {
  color: white !important;
  font-size: 12px !important;
  margin-left: 0;
  text-align: left;
  width: 100%;
  left: 0;
}
div#subscribesuccess, #community_success, #patient_impact_story_success, #patient_impact_story_error {
    font-size: 18px;
    color: #000;
    margin-top: 10px;
}
.col-md-4.twitter-feed {
    padding-top: 10px;
}

.confirmregistration{
    background-color: #fff !important;
    box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15) !important;
    color: #3b4045 !important;
}

.confirmregistration .menu li a{
    color: #3b4045;
}
.sitemap li a {
    color: #3b4045;
    font-size: 16px;
    margin-bottom: 15px;
    display: block;
}
.sitemap li {
    list-style-type: square;
    width: 50%;
    float: left;
}
.sitemap li a:hover{
  text-decoration: none;
  color: #6d8fcc;
}
.error-block {
    text-align: center;
}
.error-block .b-text-1 {
    font-size: 16px;
}
.error-block .b-text-1 a {
    color: #6d8fcc;
    font-weight: bold;
}
.error-block img {
    width: 100%;
}
.single-blog-card {
    border-radius: 0rem!important;
    margin-top: 0px!important;
    border: 1px solid #e8e8e8!important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1), 0 0.3rem 0.3rem -0.1rem rgba(0, 0, 0, 0.1)!important;
    color: #333;
    max-width: inherit!important;
}

.inner-card {
    margin-top: 0.9rem!important;
    padding-top: 0px!important;
}

.ch-limit {
    display: block;
    height: 44px;
    overflow: hidden;
}

.hamburger-menu-overlay-link {
    text-transform: capitalize!important;
    font-size: 20px!important;
    line-height: 30px!important;
    color: #fff!important;
}

.hamburger-menu-overlay {
    padding-left: 30px!important;
    list-style: none;
    background-color: #212121;
}

.hamburger-menu-overlay a:hover {
    text-decoration: none!important;
    color: #000000!important;
}

.hamburger-menu button {
    width: 50px;
    height: 25px;
    margin-top: 12px;
}

.hamburger-menu button span {
    width: 50px;
    background-color: #5d5d5d;
}

.hamburger-menu button span:first-of-type {
    margin-bottom: 7px;
}

.post-title {
    font-size: 1.6em!important;
    font-weight: 500!important;
}

.detail-sm-block {
    margin-top: 15px;
    margin-bottom: 15px;
}

.detail-sm-block h3 {
    font-size: 15px;
    color: #737373;
    display: block;
    margin-top: 0px;
    margin-bottom: 8px!important;
    font-weight: 400;
    text-transform: uppercase;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 4em;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
    color: #eeeeee;
}

.share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}

.share-btn.twitter {
    background: #55acee;
}

.share-btn.facebook {
    background: #3B5998;
}

.share-btn.linkedin {
    background: #4875B4;
}

.share-btn.email {
    background: #444444;
}

.post-figure img {
    margin-bottom: 15px!important;
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top:15px;
}

.m-b-15 {
    margin-bottom: 15px!important;
}

.pagination-nav a {
    background: rgba(2, 2, 2, 0.3);
    color: #fff!important;
    padding: 1px 15px 3px 10px;
    border-radius: 16px;
    font-weight: 700!important;
    font-size: 14px!important;
    letter-spacing: 0.5px!important;
    cursor: pointer;
}

.pagination-nav {
    margin: 0 auto!important;
    width: 100%!important;
    max-width: 60%!important;
}

.hamburger-menu {
    float: right;
}

#searchsubmit .input-group {
    margin-top: 4px;
}

#searchsubmit .input-group .form-control {
    height: 39px!important;
    font-size: 16px!important;
    border: 1px solid #ccc!important;
    border-right: 0px!important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075)!important;
}

#searchsubmit .input-group .btn {
    border-left: 0px!important;
    padding: 9px 12px!important;
    background-color: #D3D3D3;
}

#searchsubmit .input-group .fas {
    font-size: 17px;
    color: #555;
}

.card-bg {
    background-color: #f1f1f1!important;
}

.next-ttl {
    font-size: 18px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    margin-bottom: 0px!important;
    border-top: 0px solid #ededed!important;
    padding-top: 20px!important;
    clear:both;
}

.cover-content {
    background-color: #fff!important;
    margin: 0 auto;
    margin-top: -166px;
    position: relative;
    width: 80%;
    padding: 40px;
    border-radius: 3px;
    border: 1px solid #ededed;
    min-height: 420px;
}

.loadmore {
    float: inherit!important;
    margin: 0 auto;
    width: 115px;
    display: block;
    text-align: center;
}

.card {
    display: block;
    margin: 2.2rem 0;
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
    border-radius: 0.3rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.19), 0 0.3rem 0.3rem -0.1rem rgba(0, 0, 0, 0.23);
}

.home-card {
    padding: 0.8em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-position: center center;
    object-fit: cover;
}

.blog-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card-img-container {
    position: relative;
}

.card-img {
    border-radius: 0.3rem 0.3rem 0 0;
    margin: 0 0 -0.28em 0;
    max-height: 10em;
    object-fit: cover;
}

.card-img-overlay {
    border-radius: 0.3rem 0.3rem 0 0;
    position: absolute;
    top: 0;
    font-size: 1.27em;
    text-align: center;
    padding: 1.18em 0 0.5em 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.card-body {
    padding: 1em;
}

.card-title {
    /* line-height: 1.2;
    margin-top: 5px!important; */
    margin-bottom: 5px!important;
    color: #333;
    font-size: 23px!important;
    font-weight: 700!important;
    margin: 0;
    line-height: 1.2;
}

.card-text {
    margin: 1em 0;
    line-height: 1.5;
}

.card-subtext {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.8em;
}

.card-subtext>p {
    margin: 0;
}

.card-subtext>p+p {
    margin-left: 1em;
    padding-left: 1em;
    word-spacing: 0.5em;
    border-left: thin solid #7a7b7c;
}



.social-count-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.social-share {
    text-align: left;
    min-height: 30px;
    float: right;
}

.social-ico {
    display: inline-block;
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 24px;
    font-size: 15px;
    color: #eee;
    border-radius: 3px;
}

.face {
    background: #2a6499;
}

.twit {
    background: #05c7f2;
}

.mail {
    background: #aeaeae;
}

.social-count-display .small-bt-row {
    margin-right: 4px!important;
    padding-left: 2px!important;
    padding-right: 4px!important;
}

.social-count-display .small-bt-row .col {
    padding-right: 1px!important;
    padding-left: 3px!important;
    font-size: 12px!important;
    letter-spacing: -0.1px;
}

.social-count-display .small-bt-row .col i {
    font-size: 16px!important;
    color: #0077b5;
    min-width: 18px!important;
    text-align: center;
}

.cl-f {
    color: #276898!important
}

.cl-t {
    color: #0dcbf1!important
}

.cl-m {
    color: #777!important
}

.small-bt-row {
    display: inline-block;
    float: left;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    font-weight: 600;
    color: #777;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding-left: 5px;
    padding-right: 5px;
}

.small-bt-row .col {
    padding-right: 4px;
    padding-left: 4px;
}

.small-bt-row .col.a {
    color: #0077b5;
}

.small-bt-row .col.a i.fas {
    top: 1px;
    position: relative;
}

.small-bt-row .col.b {
    color: #666;
}

.b-t-1 {
    border-top: 1px solid #ddd;
}
.brief-outer{
    padding-top:120px;
}
.single-body{
    margin-top:120px;
}
 .custom-card-row .card-body .ch-limit p {
    margin: 0 0 0px!important;
}
.custom-card-row .card-body .ch-limit a {
    color: #333!important;
}
.black-link {
    color: #333!important;
}
.custom-card-row img {
    height: 230px;
    object-fit: cover;
}
@media screen and (pointer: coarse) {
    .card-hover {
        transform: scale(0.95);
        box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
    }
}

@media not screen and (pointer: coarse) {
    .card:hover {
        transform: scale(0.97);
        box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
    }
    .card:active {
        transform: scale(1);
    }
}


/* Medium devices (tablets, ~641px and up) */

@media only screen and (min-width: 40.063em) {
    body {
        font-size: 1.15rem;
    }
    .nav-bar {
        padding: 0.8em 0;
    }
    .list-header-title {
        font-weight: normal;
        font-size: 4.2em;
    }
    .card {
        border-radius: 0.2rem;
        /* margin: 2.5em 0; */
    }
    .blog-card {
        flex-direction: row;
        align-items: stretch;
    }
    .card-img {
        border-radius: 0.2rem 0 0 0.2rem;
        margin: 0;
        max-height: unset;
        height: 100%;
        width: 15em;
    }
    .card-img-overlay {
        border-radius: 0.2rem 0 0 0;
    }
    .card-body {
        padding: 1.5em 1.3em;
        width: 65em;
    }
    .card-title {
        font-size: 1.27em;
    }
    .card-text {
        font-size: 0.95em;
        margin: 1.2em 0;
    }
    .card-subtext {
        font-size: 0.7em;
    }
    .content {
        border-radius: 0.2rem;
    }
    .post {
        margin: 1em 1em 2em 1em;
    }
    .post-title {
        font-size: 2.5em;
    }
    .button {
        border-radius: 0.2rem;
    }
    .smartfloat-right {
        float: right;
        margin: 0em 0em 1em 1em;
    }
    .smartfloat-left {
        float: left;
        margin: 0em 1em 1em 0em;
    }
    code {
        border-radius: 0.2rem;
    }
}

.iconsec i:nth-child(1) a:hover{
color: #0fa9ef;
}
p.msgcontent {
    color: #ffb570 !important;
    font-size: 36px;
    text-transform: none;
    font-weight: normal;
    padding-bottom: 85px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    padding-top: 85px;
}
.post-title {
  font-size: 24px!important;
  font-weight: 500!important;
  margin-bottom: 5px!important;
  line-height: 1.2;
  margin: 0 0 0.4em 0;
}
.new-ofer-btn-1 {
  background: #f8f8f8;
  padding: 8px 9px 8px 9px;
  border: 1px solid #dddddd;
  color: #222!important;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  outline: 0px!important;
  border-radius: 3px;
  margin-left: 5px;
  margin-bottom: 10px;
  text-decoration: none!important;
  display: inline-block;
}
.new-ofer-btn-1 i, .top-10-most-row .nav-link i, .event-date-holder i, .event-location-holder i {
	width: 17px;
	text-align: center;
} 


/* new event structure > starts  */
.date-event-row {
  min-height: 190px;
}
.date-event-col-1 {
 float:left;
 width:18%;
 margin-right: 2%;
 position: relative;
   top: 5px;
}
.date-event-col-1 .card-title {
   margin-top: 5px !important;
   font-size: 22px !important;
}
.date-display {
 min-height: 125px;
 background: #e9e9e9;
 border-radius: 5px;
 overflow:hidden;
 text-align: center;
 color: #000;
}
.date-event-mo {
 background:#3a9e53;
 text-align: center;
 font-size: 18px;
 line-height: 20px;
 font-weight: 600;
 color:#fff;
 padding: 4px 3px 6px 3px;
}
.date-event-dt {
 font-size: 60px;
 line-height: 62px;
 font-weight: 600;
 color: #000;
}
.date-event-da {
 font-size: 14px;
 line-height: 16px;
 font-weight: 600;
 color: #000;
 margin-top: 3px;
}
.date-event-col-2 {
 float:left;
 width:80%;
 color: #333;
}
.date-event-col-2 a {
 color: #333;
}
.date-event-col-2 a:hover {
 color: #000;
}
.event-date-holder {
 font-size: 16px;
 line-height: 19px;
 margin-top:8px;	
 margin-bottom:6px;	
}
.event-location-holder {
 font-size: 17px;
 line-height: 19px;
 font-style: italic;
 margin-bottom:8px;	
 word-break: break-all;
}
.event-topic-holder {
 margin-top:7px;
 margin-bottom:4px;
 font-size: 13px;
 color:#333;		
}
.event-topic-holder span {
 display: inline-block;
 background: #e9e9e9;
 border-radius: 3px;
 padding: 2px 7px 3px 7px;
 margin-right: 5px;
 margin-bottom: 6px;
}

.count-calendar-holder .new-ofering-row-2-cell {
   width: 100%;
   padding: 0px;
   text-align: left;	
}
.add-cal-btn-1 {
 font-size:18px;
 color: #222;
 background:#e9e9e9;
 outline: 0!important;
 border:1px solid #dbdbdb;
 padding: 9px 15px 11px 15px;
 cursor: pointer;
 border-radius: 5px;
 float:right;
}
.add-cal-btn-2 {
 background: #f8f8f8;
   padding: 8px 9px 8px 9px;
   border: 1px solid #dddddd;
   color: #222!important;
   font-size: 15px;
   line-height: 18px;
   font-weight: 400;
   outline: 0px!important;
   border-radius: 3px;
   margin-left: 5px;
   margin-bottom: 10px;
   text-decoration: none!important;
 display: inline-block;
 float:right;
}
.overflow-v {
 overflow: visible!important;
}
.overflow-h {
 overflow: hidden!important;
}
input#community_fromDate {
    width: 49%;
    float: left;
    margin-right: 1%;
    margin-bottom: 10px;
}
input#community_toDate {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}
.community-description {
    padding: 25px 15px;
    font-size: 15px;
}
select#category {
    min-height: 100px !important;
}
#communityform ::-webkit-input-placeholder { /* Edge */
  /*font-style:italic;*/
  color: #989898;
}

#communityform :-ms-input-placeholder { /* Internet Explorer */
  /*font-style:italic;*/
  color: #989898;
}

#communityform ::placeholder {
  /*font-style:italic;*/
  color: #989898;
}
label.error {
    font-size: 12px !important;
}
#category option:first-child{
/*font-style:italic;*/
color: #989898;
}
.input-field.survey-field {
    background: #eaeaea;
}
.survey-field .btn-group button.multiselect {
    background: #ffffff;
    color: #908f8f;
}
 .survey-field .multiselect-container label {
    color: #999999 !important;
}
.survey-field ul.multiselect-container.dropdown-menu {
    padding: 15px;
    min-width: 250px;
}
.privacy p{
  margin: 0 0 10px;
}
.privacy strong {
    font-weight: bold;
}
.privacy h3 {
    margin-bottom: 14px;
}
.privacy ul li {
    font-size: 15px;
    list-style-type: circle;
    margin-left: 35px;
    line-height: 19px;
    margin-bottom: 7px;
}
#privacy-policy h2 {
    margin-bottom: 15px;
    font-size: 27px;
    margin-top: 20px;
    display: block;
}
.single-blog-card strong {
    font-weight: bold;
}
.brief-outer .post.dropcase a {
    color: #0275d8!important;
}
.brief-outer .post.dropcase a:hover {
    color: #014c8c!important;
}
@media (max-width:767px) {
.date-event-col-1 {
 width:28%;
 margin-right: 3%;
}
.date-event-col-2 {
 width:69%;
}
.date-event-mo {
 font-size: 15px;
   line-height: 20px;
}
.date-event-dt {
 font-size: 47px;
   line-height: 49px;
}
.date-event-da {
 font-size: 15px;
 line-height: 18px;
}
.date-display {
   min-height: auto;
   padding-bottom: 10px;
}
input#community_fromDate {
    width: 100%;   
}
input#community_toDate {
    width: 100%;   
} 	
}
@media (max-width:480px) {
.date-event-col-1 {
 width:138px;
}
.date-event-col-2 {
 width:100%;
}
#subscribe .input-group {
  position: relative;
  width: 100%;
}
}
/* new event structure < ends  */


/* new event details < starts  */
.ev-det-date-display {
 position: absolute;
 width:102px;
 margin-right:5px;
 margin-top:5px;
}
.ev-det-date-display .date-event-mo {
   font-size: 14px;
 line-height: 18px;
}
.ev-det-date-display .date-event-da {
   font-size: 13px;
 line-height: 15px;
}
.ev-det-date-bt {
 /*width:170px;*/
 min-width:178px;
}
@media (max-width:1199px) {
.ev-det-date-display {
 width: 84px;
}
.ev-det-date-display {
   min-height: auto;
   padding-bottom: 10px;
   z-index: 8;
   margin-top: 34px;
}
.ev-det-date-display .date-event-dt {
   font-size: 44px;
 line-height: 46px;
}
.ev-det-date-display .date-event-da {
   font-size: 12px;
   line-height: 13px;
}
.ev-det-date-display .date-event-mo {
   font-size: 12px;
   line-height: 14px;
}
}
@media (max-width:767px) {

.event-section {
    padding-top: 240px !important;
}

.ev-det-date-display {
 margin-top: -130px;
 margin-left: 15px;
}
}
/* new event details < ends  */
.social-share{
  float: left;
}
.social-share a{
  color: #fff !important;
}
.no-events-found{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.is-disabled{
  pointer-events: none;
}
.cover-content img {
  width:100%;
}
.cover-content p strong {
    font-weight: bold;
}
.commmunity-name {
    font-weight: bold !important;
}
.community-description p {
    margin-bottom: 11px;
}
/*article.dropcase li {
    font-size: 15px;
    list-style-type: circle;
    margin-left: 35px;
    line-height: 19px;
    margin-bottom: 7px;
}*/
article.dropcase li {
    font-size: 16px;
    list-style-type: circle;
    margin-left: 35px;
    line-height: 25px;
    margin-bottom: 7px;
}
.twitter-loader {
  border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #F78D28;
    border-right: 6px solid #000;
    border-bottom: 6px solid #F78D28;
    border-left: 6px solid #000;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 50px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* preji style starts here  03.02.20*/
.single-blog-card strong {
    font-weight: bold;
}
.headshot-container .navbar-nav .nav-item+.nav-item {
    margin-left: 0.7rem;
}
.headshot-container .menu li a {
    font-size: 14px;
}
.partners-row .partners-col {
  margin-bottom:20px;
}
.partners-row .partners-col h2 {
  text-align:left;
  font-size: 23px;
  font-weight: 600;
  padding-left: 10px;
  margin-bottom: -15px;
}
.partners-row .partnersection {
  margin-top:15px;
}
.partnersection img {
    border: 1px solid #e6e6e6;
    padding: 5px;
    border-radius: 3px;
    margin:10px 10px;
}
.himss-addtocalendar {
    background: #6d8fcc!important;
    border: 1px solid #f38924!important;
    color: #fff!important;
}
a.himss-addtocalendar {
    color: #fff!important;
}
.partners-col-border {
    border-right: 1px solid #e6e6e6!important;
    padding-right: 35px;
    margin-right: -15px;
}

@media (max-width:1024px) {
section#privacy-policy {
    padding-top: 120px;
}
section#privacy-policy h1 {
    font-size: 28px;
    line-height: 32px;
    margin-top: 20px;
}
}
@media (max-width:990px) {
.navigation .navbar-toggler {
    margin-top: -39px!important;
}
}
@media (max-width:767px) {
.navigation .navbar-toggler {
    margin-top: 0px!important;
}
.partners-col-border {
    border-right: 0px solid #e6e6e6!important;
    padding-right: 0px;
    margin-right: 0px;
}
}

/* preji style ends here  03.02.20 */
input#patient_first_name, input#patient_last_name {
  float: left !important;
  margin-right: 1% !important;
  margin-bottom: 10px !important;
}

.agree_checkbox{
  float: left;
}
input.checkbox#agree_checkbox {
  /* width: 5%; */
  float: left;
}
.checkboxLabel{
  line-height: 20px;
}
.input-group.fileUpload {
  background-color: #eaeaea;
  margin: 10px 0;
  color: #999999 !important;
  padding-left: 10px;
}

.image-preview-input {
  position: relative;
overflow: hidden;
margin: 0px;    
  color: #333;
  background-color: #d4d4d4;
  border-color: #ccc;    
}
.image-preview-input input[type=file] {
position: absolute;
top: 0;
right: 0;
margin: 0;
padding: 0;
font-size: 20px;
cursor: pointer;
opacity: 0;
filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}
.image-preview-filename {
  border: 0;
  background: #eaeaea!important;
}
.m-t-10{
  margin-top: 11px;
}
.conatct-form-btm p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 17px !important;
  font-weight: 300;
  text-align: left;
  color: #777777;
  margin-bottom: 10px !important;
  margin-top: 40px;
}

.community-description .heading h2 {
  font-size: 22px;
  line-height: 30px;
  color: #101010;
}

.description-count{
  position: relative;
}
div#the-count {
  position: absolute;
  right: 0;
  bottom: -25px;
}
label#story_description-error {
  position: absolute;
}

/* PK style .... */
@media (max-width:991px) {
section.section.sitemap {
    padding-top: 155px!important;
}
.navbar-toggleable-md .navbar-nav {
    margin-top: 2.5rem!important;
    background: #fff!important;
}
.menu li a {
    color: #3c3c3c;
} 
.headshot-container .navbar-nav .nav-item {
    margin-left: 0.7rem!important;
}
.single-body {
    margin-top: 160px !important;
  }
.brief-outer {
    padding-top: 156px !important;
 }  
}
@media (max-width:767px) {
section.section.sitemap {
    padding-top: 150px!important;
}
div#breadcrumbs {
    margin-top: 0px!important;
    padding-bottom: 15px!important;
}
.add-photo {
  width: 80%!important;
}
.confirmregistration .menu li a {
    color: #3b4045 !important;
}    
}
@media (max-width:539px) {
.add-photo {
  width: 80%!important;
}  
}
@media (max-width:500px) {
.add-photo {
  width: 78%!important;
}  
}
@media (max-width:500px) {
.add-photo {
  width: 76%!important;
}  
}
@media (max-width:425px) {
.add-photo {
  width: 72%!important;
}  
}
@media (max-width:375px) {
.add-photo {
  width: 67%!important;
}  
}
@media (max-width:320px) {
.add-photo {
  width: 59%!important;
}  
}
.brief-outer .post.dropcase .social-share a {
    color: #fff!important;
}
.brief-outer .post.dropcase a.new-ofer-btn-1 {
    color: #333!important;
}



nav#top-nav {
    background: rgba(5, 19, 44, 0.3);
	min-height: 100px;
}

.custImage .top-head-shot img {
    height: 51px;
    border-radius: 50%;
    border: 2px solid #91ade0;
    width: 51px;
    object-fit: cover;
}

.call-to-action .block h2 {
    color: #fff;
}

@media screen and (max-width: 991px) {
.headshot-container{position:relative;}
.custImage{
	position: absolute;
	width: auto;
	right: 70px;
	top: 0px;
}
.navbar-toggleable-md .navbar-nav {
    margin-top: 55px !important;
}
}
@media only screen and (min-width: 481px) and (max-width:767px) {
.row.top-head-shot {
    position: relative;
    top: 0px;
    right: 0px;
}
.navigation .navbar-toggler {
    position: absolute;
    top: 20px !important;
}
nav#top-nav{height: auto;}
div#navbarResponsive{width:100% !important;}
}
@media only screen and (min-width: 320px) and (max-width:480px) {
nav#top-nav{height: auto;min-height: 155px;}
div#navbarResponsive{width:100% !important; margin-top: 75px;}
.navigation .navbar-toggler {
    margin-top: 0px !important;
    position: relative;
    top: 35px !important;
    right: 0px !important;
}
}
.customSlide .custom-wrap{border:none;}
@media screen and (min-width:1200px) {
.customSlide .custom-wrap{height: 650px !important;}
}
@media screen and (max-width: 1199px) {
.customSlide .custom-wrap{}
.customSlide .custom-wrap{height: 560px !important;}
}
@media screen and (max-width:991px) {
.customSlide .custom-wrap{height: 420px !important;}
}
@media screen and (max-width:767px) {
.customSlide .custom-wrap{height: 310px !important;}
}

#patient_impact_story_desc {
padding-top: 150px !important;
float: left;
}


.headshot-container{position:relative;}
.custImage{min-width: 240px;position: absolute;right: 0px;}
.navbar-brand img{
width: 160px;
height: auto;
margin-right: 10px;
}
.headshot-container .navbar-nav .nav-item + .nav-item {
margin-left: 10px;
}
.headshot-container .menu li a{
font-size: 16px;
}
.top-head-shot{padding-top: 5px;}
span.headshot-title {position: absolute; font-weight: bold; font-size: 12px; right: 60px; top: -5px;}
.top-head-shot a {color: #b6c9f1; font-weight: bold; font-size: 12px;}
.custImage .top-head-shot img {
height: 51px;
border-radius: 50%;
border: 2px solid #b6c9f1;
width: 51px;
object-fit: cover;
}
.animated .top-head-shot a {color: #718dc8;}
.animated .custImage .top-head-shot img{border: 2px solid #718dc8;}
.confirmregistration .top-head-shot a {color: #718dc8;}
.confirmregistration .custImage .top-head-shot img{border: 2px solid #718dc8;}
 nav#top-nav.animated {
    height: auto;
    min-height: 120px;
}
.navigation.animated .navbar-toggler {
    top: 15px !important;
}

@media screen and (max-width:991px) {
.custImage{right: 65px;}
.footer-content .menu li a {color: #ffffff;}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.row.top-head-shot { top: 10px;}
}

@media only screen and (min-width : 991px) and (max-width : 1199px){
ul.nav{margin-top: 20px;}
}

@media screen and (max-width:767px) {
.navbar-toggleable-md .navbar-nav {
margin-top: 30px !important;
}
.footer-content .navbar-nav .nav-item {
float: left;
width: 100%;
margin: 0px !important;
}
}
@media only screen and (min-width: 481px) and (max-width:767px) {
span.input-group-btn {
display: table-cell !important;
}
.pagination a.page-link{
font-size: 12px;
padding: 8px 12px !important;
}
.confirmregistration a {
color: #718dc8 !important;
}
}
@media only screen and (min-width: 320px) and (max-width:480px) {
span.input-group-btn {
display: table-cell !important;
}
.pagination a.page-link{
font-size: 12px;
padding: 5px 8px !important;
}
.head-shot-col { margin:10px 10px 0 0px !important;}
.navbar-brand img {width: 110px;}
.top-head-shot a {font-size: 10px;}
.custImage .top-head-shot img {height: 40px;width: 40px;}
 nav#top-nav.animated {
    height: auto;
    min-height: 120px;
}
.navigation.animated .navbar-toggler {
    top: 15px !important;
}
}