/*--
    Common Css
--*/
body {
  font-size: 12px;
  font-weight: 300;
  line-height: 25px;
  color: #3b4045;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px;
}

h1 {
   color: #3c3c3c;
    padding-bottom: 15px;
    font-weight: normal;
    font-size: 44px;
    line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 35px;
}

h3 {
  font-size: 23px;
  line-height: 25px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 25px;
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
}

.section {
  padding: 100px 0;
}

/*--
    custom heading
--*/
.text-center {
  text-align: center;
}

.heading {
  text-align: center;
  color: #777777;
  padding-bottom: 70px;
}

.heading h2 {
  color: #3c3c3c;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.heading p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
}

.btn {
  border-radius: 0;
}

.btn-home {
  background-color: #20b9cb;
  border-radius: 0px;
  color: #fff;
  font-size: 18px;
  padding: 10px 40px;
  margin-top: 30px;
}

.btn-home:hover,
.btn-home:focus {
  background-color: #fff;
  color: #555;
  border: 1px solid #fff;
}


/*Preloader*/
#preloader {
  background-color: #fff;
  bottom: auto;
  height: 100%;
  left: auto;
  position: fixed;
  right: auto;
  top: auto;
  width: 100%;
  z-index: 9999;
}

.book {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  margin: 0 auto;
  border: 5px solid #ecf0f1;
  width: 100px;
  height: 60px;
}

.book__page {
  position: absolute;
  left: 50%;
  top: -5px;
  margin: 0 auto;
  border-top: 5px solid #ecf0f1;
  border-bottom: 5px solid #ecf0f1;
  border-right: 5px solid #ecf0f1;
  background: #f68d29;
  width: 50px;
  height: 60px;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: flip 1.2s infinite linear;
  animation: flip 1.2s infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.book__page:nth-child(1) {
  z-index: -1;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.book__page:nth-child(2) {
  z-index: -2;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.book__page:nth-child(3) {
  z-index: -3;
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
  }

  20% {
    background: #f68d29;
  }

  29.9% {
    background: #f68d29;
  }

  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
    transform: perspective(200px) rotateY(-90deg);
    background: #f68d29;
  }

  54.999% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #f68d29;
  }

  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #f68d29;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
  }

  20% {
    background: #f68d29;
  }

  29.9% {
    background: #f68d29;
  }

  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
    transform: perspective(200px) rotateY(-90deg);
    background: #f68d29;
  }

  54.999% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #f68d29;
  }

  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #f68d29;
  }
}

/*--
    .hero-area start
--*/

.bg-gray {
  background: #f8f8f8;
}

.hero-area {
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area h1 {
  color: #fff;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 19px;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
.twitter-feed{
    margin-top: 20px;
}
.hero-area p {
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.hero-area .counter {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 18px ;
}

.hero-area .counter ul li {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  display: inline-block;
  line-height: 25px;
  padding: 25px 28px 20px;
  text-align: center;
  width: 49%;
  margin-bottom: 3px;
}

.hero-area .counter ul li span {
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.hero-area .counter ul li .digit {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  position: relative;
  overflow: hidden;
  height: 60px;
}

@media only screen and (max-width:400px) {
  .hero-area .counter ul li .digit {
    font-size: 30px;
    line-height: 30px;
    height: 40px;
  }
}

.hero-area .btn {
  margin-bottom: 10px;
}

.float-none {
  float: none;
}

@media only screen and (min-width: 991px) {
  .float-lg-left {
    float: left;
  }
}

/* .hero-area  */
.navigation {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 50px;
  margin: 0;
  border: 0;
}

.navigation .navbar-brand {
  padding-top: 5px;
  display: inline-block;
}

.navigation .navbar-toggler {
  background: #fff;
  outline: none;
  border-radius: 0;
  float: right;
}

.navigation .navbar-toggler i {
  font-size: 22px;
}

.navigation.animated {
  background-color: #fff;
  box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15);
}

.navigation.animated .menu a {
  color: #666;
}

.menu li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.menu li a:hover,
.menu li a:focus {
  background: none;
}

/*--
    service start
--*/
.service {
  text-align: center;
  padding-bottom: 0;
}

.service .block {
  margin-bottom: 50px;
}

.service .block i {
  font-size: 30px;
  display: inline-block;
  margin-bottom: 15px;
  color: #f68d29;
}

.service .block h3 {
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0px;
  min-height: 51px;
}
.service.section .heading p {
    width: 75%;
    margin: auto;
    font-size: 16px;
}

.service .block p {
  color: #666;
      min-height: 200px;
}

/*--
    About start
--*/
.about .content h3 {
      font-size: 19px;
    font-weight: bold;
    line-height: 25px;
    color: #f68c29;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.about li {
    font-size: 15px;
    color: #000;
}

.about .about-slider img {
  width: 100%;
  height: auto;
}

/*--
    call-to-action start
--*/
.call-to-action {
  padding: 50px 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: 1px solid #dcdbdb;
}

.call-to-action:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.call-to-action .block h2 {
  font-size: 30px;
  margin-bottom: 6px;
  font-weight: 600;
  color:#3c3c3c;
}

.call-to-action .block p {
  padding-right: 30px;
  color: #fff;
}

.call-to-action .block .input-group {

}

.call-to-action .block .input-group input {
  height: 50px;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.call-to-action .block .input-group .btn-subscription {
  height: 50px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: #242727;
  padding: 0px 35px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.input-field .form-control {
  box-shadow: none;
  background: #eaeaea;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  border-radius: 0;
}

.btn-send {
  line-height: 25px;
  border: 0;
  background: #f68d29;
  color: #fff;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0;
  margin-top: 10px;
}

.btn-send:hover {
  color: #fff;
}

.input-field label {
  color: rgba(237, 28, 36, 0.7);
}

.form-group .input-field+.input-field {
  margin-top: 10px;
}

.input-field textarea.form-control {
  height: 120px;
  box-shadow: none;
}

.form-group {
  margin-top: 10px;
}

#success,
#error {
  display: none;
}

footer {
  text-align: center;
  background: #272727;
  padding: 27px 0px;
}

footer p {
  font-weight: 300;
  font-size: 12px;
  color: #dfdfdf;
  letter-spacing: 3px;
}

footer p a {
  color: #fff;
}

footer p a:hover {
  color: #fff;
  text-decoration: none;
}
.about li {
    font-size: 15px;
    list-style-type: circle;
    margin-left: 18px;
    line-height: 19px;
    margin-bottom: 7px;
}
a.btn.btn-home {
    width: 45%;
    float: left;
    word-break: break-word;
    white-space: normal;
    font-size: 15px;
    font-weight: bold;
}
a.btn.btn-home:nth-child(2) {
    background: #319517;
}
a.btn.btn-home:nth-child(2):hover{
  background-color: #fff;
  color: #555;
  border: 1px solid #fff;
}
.healthinfo-img {
    width: 50px;
        margin-bottom: 15px;
}
.error{
    color: red !important;
    font-size: 12px !important;
    margin-left: 0;
    text-align: left;
}
section#healthinfo {
    padding-bottom: 0;
}
section#healthinfo .block {
    margin-bottom: 0;
}
.sub-heading h4 {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
}
.form-control{
  color: #999999 !important;
}
select#herobtn {
    height: 50px;
}
a.morelink {
    display: block;
    background: #1b83b8;
    width: 100px;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}
a.morelink:hover {
    text-decoration: none;
    background: #f68c29;
}
.counter.text-center p {
    color: #000;
    font-weight: bold;
    text-shadow: none;
}
.comment {
    min-height: 200px;
    font-size: 16px;
}
.morecontent span {
  display: none;
}
section#healthinfo ul {
    min-height: 120px;
    margin-left: 20px;
    min-height: 200px;
}
section#healthinfo li{
  list-style:circle;
  text-align: left;
  padding-right: 20px;
  font-size: 16px;
  
}
.readmore-link {
    cursor: pointer;
}
section#healthinfo {
    margin-bottom: 90px;
}
#myList0 li{ display:none;
}
#myList1 li{ display:none;
}
#myList2 li{ display:none;
}
#myList3 li{ display:none;
}
 ul#myList0 li:last-child {
  display: none !important;
}
 ul#myList1 li:last-child, ul#myList1 li:nth-last-child(2) {
  display: none !important;
}
ul#myList2 li:last-child, ul#myList2 li:nth-last-child(2) {
  display: none !important;
}
.readmore-link{
    display: block;
    background: #1b83b8;
    width: 100px;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
    color: #fff;
    padding: 5px;
}
.readmore-link:hover{
 text-decoration: none;
 background: #f68c29;
}
#loadMore1 {
    cursor:pointer;
}
#showLess1 {
    cursor:pointer;
}
.col-lg-6.partnersection:nth-child(2) {
    text-align: left;
}
.col-lg-6.partnersection {
    text-align: right;
    margin-top: 35px;
}
section#contact {
    padding-top: 80px;
    background: #f8f8f8;
}


@media (max-width: 480px) {

  .comment {
    min-height: auto !important;
  }

  .service .block {
    margin-bottom: 0;
}

  .col-lg-6.partnersection {
    text-align: center !important;
}

  section#healthinfo {
    margin-bottom: 20px;
}

 .service .fadeInLeft {
    margin-bottom: 35px;
}

  section#healthinfo ul {
    min-height: auto;
}
.heading {
    padding-bottom: 20px;
}
  .section {
    padding: 50px 0;
}

  nav#top-nav {
    padding: 10px;
  }

  .hero-area{
    height: auto !important;
  }
  .hero-area h1 {
    line-height: 32px !important;
    font-size: 25px !important;
    margin-top: 85px !important;
}
a.btn.btn-home {
    width: 100% !important;
    float: inherit !important;
}
a.btn.btn-home:nth-child(2) {
    margin-top: 0 !important;
}
.service .block p{
  min-height: 90px !important;
}
.heading h2{
  font-size: 25px !important;
    line-height: 30px !important;
}
.call-to-action .block .input-group input{
  width: 100% !important;
  float: inherit !important;
}
span.input-group-btn {
    display: block !important;
}
div#navbarResponsive {
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 15px;
    /* padding-bottom: 15px; */
    width: 221px;
    margin-top: 10px;
}

}


@media (min-width: 481px) and (max-width: 767px) {

  .service .block h3{
    min-height: 81px;
  }

  /*.comment {
    min-height: auto !important;
  }*/

  .service .block {
    margin-bottom: 0;
}
  .col-lg-6.partnersection {
    text-align: center !important;
}

section#healthinfo {
    margin-bottom: 20px;
}
  .service .fadeInLeft {
    margin-bottom: 35px;
}

 /* section#healthinfo ul {
    min-height: auto;
}*/

  .heading {
    padding-bottom: 20px;
}

  .section {
    padding: 50px 0;
}

  nav#top-nav {
    padding: 10px;
}

   .hero-area{
    height: auto !important;
  }
  .hero-area h1 {
    line-height: 32px !important;
    font-size: 25px !important;
    margin-top: 85px !important;
}
a.btn.btn-home {
    width: 100% !important;
    float: inherit !important;
}
a.btn.btn-home:nth-child(2) {
    margin-top: 0 !important;
}
.service .block p{
  min-height: 90px !important;
}
.heading h2{
  font-size: 25px !important;
    line-height: 30px !important;
}
.call-to-action .block .input-group input{
  width: 100% !important;
  float: inherit !important;
}
span.input-group-btn {
    display: block !important;
}
div#navbarResponsive {
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 15px;
    width: 221px;
    margin-top: 10px;
}

}


@media (min-width: 768px) and (max-width: 1024px) {

  .about li {
    font-size: 14px;
    line-height: 18px;
}
  .sub-heading h4 {
    font-size: 14px;
    line-height: 18px;
  }

  .service .block {
    margin-bottom: 0;
}

  .service .block h3 {
    font-size: 14px;
    min-height: 80px !important;
    line-height: 20px;
}
section#healthinfo ul{
  min-height: 145px;
}
section#healthinfo li {
    padding-right:0px;
    font-size: 14px;
    line-height: 18px;
}
.about .content h3 {
    font-size: 17px;
    font-weight: bold;
    line-height: 21px;
  }
  .comment {
    min-height: 150px;
    font-size: 14px;
    line-height: 18px;
}

  .section {
    padding: 50px 0;
}

.heading h2{
  font-size: 30px;
}
.heading{
  padding-bottom: 30px;
}
  .counter.text-center p{
    font-size: 15px;
  }

.hero-area .counter ul li .digit{
  font-size: 30px;
}
h1.wow.fadeInDown {
    font-size: 30px !important;
    line-height: 38px !important;
}
a.btn.btn-home {
    width: 80% !important;
    float: inherit !important;
}
a.btn.btn-home:nth-child(2) {
    margin-top: 0 !important;
}
a.nav-link {
    cursor: pointer;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  section#healthinfo ul{
  min-height: 235px;
  }
}

div#success {
    text-align: center;
    font-size: 16px;
    padding: 15px 0 0 0;
    color: #4CAF50;
}
div#confirmmsg {
    color: #4CAF50;
    font-size: 22px;
    text-align: center;
    background: #f3f3f3;
    margin-top: 150px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 50%;
    margin: auto;
    border-radius: 15px;
}
.confirm-page-footer{
  position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
footer.timeline-Footer.u-cf {
    display: none;
}
header.MediaCard-siteUser {
    display: none;
}
.SandboxRoot.env-bp-430 .timeline-Tweet-text {
    font-size: 14px;
    line-height: 18px;
  }
.twitter {
    padding-top: 10px;
}
#commonfooter .form-group .form-control {
    margin-bottom: 9px;
}
.timeline-Widget{
  border-radius: 0 !important;
}
footer ul#top-nav {
    width: 65%;
    margin: auto;
}
.copyright-txt{
    font-weight: normal;
    letter-spacing: 1px;
    width: 100%;
    display: inline-block;
}
.about-unblock {
    color: #fff;
    font-size: 14px;
    text-align: left;
}
section#register {
    background: #f8f8f8;
}
.timeline-Footer{
  display: none !important; 
}
.about-unblock p {
    font-weight: normal;
    letter-spacing: 0;
    font-size: 14px;
    margin-top: 20px;
}
.about-unblock img {
    margin-top: 10px;
    width: 175px;
} 
.footer-content .col-md-12 {
    border-top: 1px solid;
    margin-top: 15px;
    padding-top: 15px;
}

.quick-contact h3 {
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
}
.subscribe-form .form-control {
    height: 50px;
    border-radius: 0;
    border: 0;
}
input#subscribe-submit {
    height: 50px;
}
form#subscribe {
    margin-top: 35px;
}
#subscribe .error{
    position: absolute;
    bottom: -30px;
    margin-left: 10px !important;
}
div#subscribesuccess {
    font-size: 18px;
    color: #000;
    margin-top: 10px;
}
