{{ partial "header.html" . }}
<article>  
  <header class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">
  <!-- top > starts > -->
  {{ $context := . }}
  {{- partialCached "head" (dict "activeMenu" "Events" "context" $context ) "events-page-key" -}}  
  <!-- top < ends < -->  
  </header>
</article>  

<!-- main starts > -->
<main>
<section class="slds-p-vertical_x-large">   
  <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">
    <h1 style="font-size: 40px; line-height: 50px;font-weight: 700;">Events</h1>

    <div class="slds-notify_container slds-is-relative">
      <div class="slds-notify slds-notify_toast slds-theme_info slds-m-bottom_small slds-m-top_none" role="status" style="min-width:auto;">
        <span class="slds-assistive-text">info</span>
        <span class="slds-icon_container slds-icon-utility-info slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
          <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xlink:href="/icons/utility-sprite/svg/symbols.svg#info"></use>
          </svg>
        </span>
        <div class="slds-notify__content">
          <h2 class="slds-text-heading_small">Don't miss these events focused on patient advocacy, patient empowerment, data access, & transparency.</h2>
        </div>
        
      </div>
    </div>

    <ul class="slds-tabs_default__nav slds-wrap slds-m-bottom_large slds-align_absolute-center slds-m-top_medium slds-m-bottom_x-large" role="tablist">
      <li class="slds-tabs_default__item" title="Upcoming Events">
       <a class="slds-tabs_default__link slds-text-link" href="/events" id="upcoming-event-tab"><b>Upcoming Events</b></a>
      </li>
      <li class="slds-tabs_default__item" title="Past Events">
       <a class="slds-tabs_default__link slds-text-link" href="/events/past" id="past-event-tab"><b>Past Events</b></a>
      </li><li class="slds-tabs_default__item  slds-is-active" title="Canceled Events">
        <a class="slds-tabs_default__link" href="/events/cancelled" id="canceled-event-tab"><b>Cancelled Events</b></a>
        </li>
      </ul>
      {{ $paginator := .Paginate (where .Site.Pages.ByDate "Params.eventcancelled" "eq" "true") }}              
      {{ if $paginator.Pages }}
        {{ range $paginator.Pages }}
          {{ .Render "li-event" }}
        {{ end }}
      {{ else }}
          <div class="no-events-found">No Events Found</div>
      {{ end }}

        <div class="slds-pagination git-buttons-row slds-p-top_x-large slds-p-bottom_x-small slds-m-bottom_large slds-text-align_center slds-align_absolute-center slds-hide">
          {{ template "_internal/pagination.html" . }}
        </div>
  </div>
</section>
</main>
<!-- main < ends < -->
<!-- footer > starts > -->
{{- partialCached "footer-new" (dict "activeMenu" "Events" "context" $context ) "events-page-key" -}} 
<!-- footer < ends < --> 
<script src="/js/event-date.js"></script> 