{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
<section class="single-body">
    {{ partial "bread-crumb.html" . }}
    <main class="container content side-text-padding single-blog-card inner-card">
        {{ if isset .Params "banner" }}
        <picture class="post-figure m-b-15">
            <a href="{{ .Params.link }}"><img src="{{.Params.banner | absURL }}"></a>
        </picture>
        {{ end }}
        <article class="{{ if ne .Params.dropcap false }}dropcase{{ end }}">
            {{ $startDate :=  dateFormat "January 2, 2006" .Params.startDate }}
            {{ $endDate :=  dateFormat "January 2, 2006" .Params.dueDate }}
            {{ $day := dateFormat "Monday" .Params.startDate }}
            {{ $month := dateFormat "January" .Params.startDate }}
            {{ $daydate := dateFormat "02" .Params.startDate }}
            <div class="date-display ev-det-date-display">
                <div class="date-event-mo">{{ $month }}</div>
                <div class="date-event-dt">{{  $daydate }}</div>
                <div class="date-event-da">{{ $day }}</div>
            </div>
            <div class="cover-content">
                <header class="post-header">
                    <h1 class="post-title">{{ .Title }}</h1>
                    {{ if eq $startDate  $endDate }}
                    <div class="event-date-holder"><i class="far fa-calendar-alt"></i> {{ $endDate }}
                        {{ if le .Date.Unix now.Unix   }}
                        {{ if ge .Params.dueDate  (now.Format "2006-01-02")}}
                        <span class="badge badge-success">Live</span>
                        {{ else }}
                        <span> ({{ add (div (sub now.Unix .Date.Unix) 86400) 1}} Days ago)</span>
                        {{ end }}
                        {{ else }}
                        {{ $daycount := (div (sub .Date.Unix now.Unix) 86400) }}
                        {{ if eq $daycount 0}}
                        <span> (in {{ add (div (sub .Date.Unix now.Unix) 86400) 1}} Day) </span>
                        {{ else }}
                        <span> (in {{ add (div (sub .Date.Unix now.Unix) 86400) 1}} Days )</span>
                        {{ end }}
                        {{ end }}</div>
                    {{else}}
                    {{ if eq (dateFormat "2006" .Params.date) (dateFormat "2006" .Params.dueDate) }}
                    <div class="event-date-holder"><i class="far fa-calendar-alt"></i>
                        {{ dateFormat "January 2" .Params.date }} to {{ $endDate }}
                        {{ if le .Date.Unix now.Unix   }}
                        {{ if ge .Params.dueDate  (now.Format "2006-01-02")}}
                        <span class="badge badge-success">Live</span>
                        {{ else }}
                        <span> ({{ add (div (sub now.Unix .Date.Unix) 86400) 1}} Days ago)</span>
                        {{ end }}
                        {{ else }}
                        {{ $daycount := (div (sub .Date.Unix now.Unix) 86400) }}
                        {{ if eq $daycount 0}}
                        <span> (in {{ add (div (sub .Date.Unix now.Unix) 86400) 1}} Day) </span>
                        {{ else }}
                        <span> (in {{ add (div (sub .Date.Unix now.Unix) 86400) 1}} Days )</span>
                        {{ end }}
                        {{ end }}</div>
                    {{ else }}
                    <div class="event-date-holder"><i class="far fa-calendar-alt"></i> {{ $startDate }} to
                        {{ $endDate }}
                        {{ if le .Date.Unix now.Unix   }}
                        {{ if ge .Params.dueDate  (now.Format "2006-01-02")}}
                        <span class="badge badge-success">Live</span>
                        {{ else }}
                        <span> ({{ add (div (sub now.Unix .Date.Unix) 86400) 1}} Days ago)</span>
                        {{ end }}
                        {{ else }}
                        {{ $daycount := (div (sub .Date.Unix now.Unix) 86400) }}
                        {{ if eq $daycount 0}}
                        <span> (in {{ add (div (sub .Date.Unix now.Unix) 86400) 1}} Day) </span>
                        {{ else }}
                        <span> (in {{ add (div (sub .Date.Unix now.Unix) 86400) 1}} Days )</span>
                        {{ end }}
                        {{ end }}</div>
                    {{ end }}
                    {{end}}
                    {{ if  (ne .Params.location "null") }}
                    <div class="event-location-holder"><i class="fas fa-map-marker-alt"></i> {{ .Params.location }}
                    </div>
                    {{ end }}
                </header>
                <p>{{ .Content }}</p>
                <hr>
                {{ partial "social.html" . }}
            </div>
            {{ with .PrevInSection }}
            <h3 class="text-center next-ttl">Next Event</h3>
            <nav class="side-padding">
                {{ .Render "li-event" }}
            </nav>
            {{ end }}
            </div>
        </article>
    </main>
</section>
{{ partial "footer.html" . }}