<!-- About -->   
<article class="slds-p-vertical_x-large slds-color__background_gray-1" >
  <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small slds-p-top_x-large">
  
 <aside class="slds-container_x-large slds-container_center slds-text-align_center slds-p-horizontal_xx-large slds-m-bottom_x-large">
  <h2 class="slds-m-bottom_x-large" style="font-size: 40px; line-height: 50px;font-weight: 700;">Get patients the info they need</h2>  
  <p style="font-size: 23px; line-height:33px;" class="slds-text-align_center slds-p-bottom_small">Replace outdated, inefficient systems with a FHIR-native, digital platform that integrates with your existing systems</p>
</aside>
 
 <aside class="slds-grid slds-wrap slds-gutters slds-p-top_large slds-grid_vertical-align-center">
   <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
     <div class="slds-p-around_medium"> 
      <ul>
        <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
          <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
            <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
              <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
            </svg>
          </span>
          Replace manual, fragmented workflows with a centralized funnel to manage all aspects of individual patient access.</li>
          <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
            <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
              <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
              </svg>
            </span>
            Elevate transparency with real-time tracking, asynchronous messaging, and comprehensive dashboards for patients and HIM professionals.</li>
          <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
            <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
              <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
              </svg>
            </span>            
            Empower team members with intuitive reporting and easy compliance with Information Blocking Rules.</li> 
          <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
            <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
              <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
              </svg>
            </span>
            Address medical record correction requests without bogging down the system.</li> 
        </ul>
       </div>
   </div>
   
   <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
     <div class="slds-p-around_medium">
     <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/app-screen-1.png" alt="" width="" height=""></div>
   </div>
   
 </aside>  
     <aside class="slds-form-element slds-m-bottom_xx-large">
      <div class="slds-text-align_center slds-form-element__control">
      <button class="slds-button slds-button_outline-brand slds-p-vertical_medium slds-p-horizontal_large slds-color__text_gray-1" id="about-read-more">
        <span class="slds-text-body_small" style="font-size:22px;"><b>Why Unblock Health?</b></span></button>
      </div>
  </aside>
   <div class="slds-text-align_center">
   
   </div>
  </div> 
</article> 
<section style="background:#F4F8FF;" class="slds-p-bottom_medium slds-p-top_x-large"> 
<div class="slds-container_x-large slds-container_center slds-p-horizontal_small slds-p-vertical_medium">
<h2 class="slds-m-bottom_x-large slds-text-align_center" style="font-size: 40px; line-height: 50px;font-weight: 700;">Real people, real life</h2>
<article class="slds-grid slds-wrap slds-gutters">
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <p style="font-size: 23px; line-height:33px;" class="slds-p-bottom_small slds-text-align_right">Discover the real-life stories of harm that happen when patients can't access their records and the good that comes when they can.</p>
  </div>
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <button class="slds-button slds-button_outline-brand slds-p-vertical_medium slds-p-horizontal_large slds-color__text_gray-1 slds-m-top_medium" id="browse-impact-patient-stories">
      <span class="slds-text-body_small" style="font-size:22px;"><b>Browse patient impact stories</b></span></button>
  </div>
  
</article>


<article class="slds-container_large slds-container_center slds-p-horizontal_small slds-p-vertical_medium slds-text-align_center slds-hide">
  <h2 class="slds-m-bottom_x-large" style="font-size: 40px; line-height: 50px;font-weight: 700;">Real people, real life</h2>
  <p style="font-size: 23px; line-height:33px;" class="slds-text-align_center slds-p-bottom_small">Discover the real-life stories of harm that happen when patients can't access their records and the good that comes when they can.</p>
  <button class="slds-button slds-button_outline-brand slds-p-vertical_medium slds-p-horizontal_large slds-color__text_gray-1" id="about-how-help">
    <span class="slds-text-body_small" style="font-size:22px;"><b>Browse patient impact stories</b></span></button>
</article>
</div> 
</section>  

 <section class="slds-p-vertical_x-large slds-color__background_gray-1">
  <article class="slds-container_large slds-container_center slds-p-horizontal_small slds-p-vertical_medium slds-text-align_center">
    <h2 class="slds-m-bottom_x-large" style="font-size: 40px; line-height: 50px;font-weight: 700;">What's missing from your HIM processes?</h2>  
    <h3 class="slds-container_medium slds-container_center" style="font-size: 26px; line-height: 34px;"> </h3>
    <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center">
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium">
        <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/about-content-image-2.png" alt="" width="" height=""></div>
      </div>
    </div>
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium slds-text-align_left">   
          <p style="font-size: 16px; line-height:26px;" class="slds-p-bottom_small">The future of individual patient access is happening now—and changing rapidly.</p>   
          <p style="font-size: 16px; line-height:26px;" class="slds-p-bottom_small">Government mandates and potential penalties mean “business as usual” is no longer good enough. The time for change has come.</p><p style="font-size: 16px; line-height:26px;" class="slds-p-bottom_small">Thankfully, the tools you need already exist. You can now deliver the info patients need and the experience they deserve with Unblock Health.</p>           

          {{/* <ul>
            <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
              <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                  <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                </svg>
              </span>
              </li>
              <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                    <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </span>
                </li>
               <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                    <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </span>
                Empower request fulfillers with simple Information Blocking Rule compliance documentation capabilities and intuitive reporting.</li> 
              <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                    <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </span>
                Enable organizations to be prepared to address medical record correction requests that typically follow access requests.</li>   
            </ul>*/}}

        </div>
      </div>
  </aside> 
    <aside class="slds-form-element slds-m-bottom_xx-large">
      <div class="slds-form-element__control">
      <button class="slds-button slds-button_outline-brand slds-p-vertical_medium slds-p-horizontal_large slds-color__text_gray-1" id="service-read-more">
        <span class="slds-text-body_small" style="font-size:22px;"><b>Ready to improve your HIM processes?</b></span></button>
      </div>
  </aside>
  <div class="slds-text-align_center"></div>
  </article>
</section>
<section style="background:#F4F8FF;" class="slds-p-bottom_medium slds-p-top_x-large">  
  <article class="slds-container_large slds-container_center slds-p-horizontal_small slds-p-vertical_medium slds-text-align_center">
    <h2 class="slds-m-bottom_x-large" style="font-size: 40px; line-height: 50px;font-weight: 700;">Discover how Unblock Health improves individual patient access</h2>
    <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_medium">
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12"><button class="slds-button slds-button_stretch slds-button_brand slds-p-around_medium slds-color__text_gray-1 slds-m-bottom_small" id="individual-register-patient-advocate">
        <span class="slds-text-heading_medium"><b>Patient advocate?</b></span></button><span class="slds-text-body_small" style="color:#999;">Become a beta tester</span></div>
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12"><button class="slds-button slds-button_stretch slds-button_outline-brand slds-p-around_medium slds-m-bottom_small" id="individual-register-hospital-him">
        <span class="slds-text-heading_medium"><b>Hospital HIM?</b></span></button><span class="slds-text-body_small" style="color:#999;">Become a beta tester</span></div>
    </div>
  </article>
</section> 
</main>
