<!-- About -->   
<article class="slds-p-vertical_x-large" style="background: #F4F8FF;">
    <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small slds-p-top_x-large">
    
   <aside class="slds-container_x-large slds-container_center slds-text-align_center slds-p-horizontal_xx-large slds-m-bottom_x-large">
   <h3 style="font-size:35px; line-height:45px;">After more than 25 years of witnessing patients suffer with barriers in accessing their health information, the time had come to stop the suffering and build a solution.. 
  </h3>  
  <p style="font-size: 20px; line-height:30px;">Unblock Health is a FHIR native, fully integratable SaaS strategically designed to:</p>
  </aside>
   
   <aside class="slds-grid slds-wrap slds-gutters slds-p-top_large slds-grid_vertical-align-center">
     <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
       <div class="slds-p-around_medium"> 
        <ul>
          <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
            <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
              <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
              </svg>
            </span>
            Propel outdated, fragmented individual patient access workflows to the future information sharing, creating a centralized funnel to capture all aspects of the individual access process.</li>
            <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
              <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                  <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                </svg>
              </span>
              Elevate transparency into individual access request processes through dual dashboards, real-time status and activity tracking, and asynchronous, bi-directional messaging.</li>
            <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
              <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                  <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                </svg>
              </span>            
              Empower request fulfillers with simple Information Blocking Rule compliance documentation capabilities and intuitive reporting.</li> 
            <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
              <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                  <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                </svg>
              </span>
              Enable organizations to be prepared to address medical record correction requests that typically follow access requests.</li> 
          </ul>
         </div>
     </div>
     
     <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
       <div class="slds-p-around_medium">
       <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/app-screen-1.png" alt="" width="" height=""></div>
     </div>
     
   </aside>  
       <aside class="slds-form-element slds-m-bottom_xx-large">
        <div class="slds-text-align_center slds-form-element__control">
        <button class="slds-button slds-button_outline-brand slds-p-vertical_medium slds-p-horizontal_large slds-color__text_gray-1" id="about-read-more">
          <span class="slds-text-body_small" style="font-size:22px;"><b>Read more</b></span></button>
        </div>
    </aside>
     <div class="slds-text-align_center">
     
     </div>
    </div> 
   </article>   
  
   <section class="slds-p-vertical_x-large slds-color__background_gray-1">
    <article class="slds-container_large slds-container_center slds-p-horizontal_small slds-p-vertical_medium slds-text-align_center">
      <h2 class="slds-m-bottom_x-large" style="font-size: 40px; line-height: 50px;font-weight: 700;">Unblock Health is revolutionizing individual access services, patient autonomy, and healthcare consumerism</h2>  
      <h3 class="slds-container_medium slds-container_center" style="font-size: 26px; line-height: 34px;">Unblock Health is a FHIR native, fully integratable SaaS strategically designed to:</h3>
      <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
          <div class="slds-p-around_medium">
          <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/about-content-image-2.png" alt="" width="" height=""></div>
        </div>
      </div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
          <div class="slds-p-around_medium slds-text-align_left">      
            <ul>
              <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                    <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </span>
                Propel outdated, fragmented individual patient access workflows to the future information sharing, creating a centralized funnel to capture all aspects of the individual access process.</li>
                <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                  <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                    <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                      <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                    </svg>
                  </span>
                  Elevate transparency into individual access request processes through dual dashboards, real-time status and activity tracking, and asynchronous, bi-directional messaging.</li>
                <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                  <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                    <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                      <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                    </svg>
                  </span>
                  Empower request fulfillers with simple Information Blocking Rule compliance documentation capabilities and intuitive reporting.</li> 
                <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                  <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                    <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                      <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                    </svg>
                  </span>
                  Enable organizations to be prepared to address medical record correction requests that typically follow access requests.</li> 
              </ul>
  
          </div>
        </div>
    </aside> 
      <aside class="slds-form-element slds-m-bottom_xx-large">
        <div class="slds-form-element__control">
        <button class="slds-button slds-button_outline-brand slds-p-vertical_medium slds-p-horizontal_large slds-color__text_gray-1" id="service-read-more">
          <span class="slds-text-body_small" style="font-size:22px;"><b>Read more</b></span></button>
        </div>
    </aside>
    <div class="slds-text-align_center"></div>
    </article>
  </section>