{{ if .Site.Params.contact.enable }}
    {{"<!-- Contact Section -->" | safeHTML}}
    <section id="contact" class="section contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="block">
                        <div class="heading wow fadeInUp">
                            {{ with .Site.Params.contact.title }}
                            <h2>{{ . }}</h2>
                            {{ end }}
                            {{ with .Site.Params.contact.subtitle }}
                                <p>{{ . }}</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3">
                    <div class="form-group">
                        <form method="POST" id="quickcontact">
                            <div class="input-field">
                                 <input type="text" class="form-control" placeholder="Name*" name="Name" 
                                 id="name">
                                 <span class="error" id="namealert" style="display: none;">Please Enter Name</span>
                            </div>
                            <div class="input-field">
                                <input type="email" class="form-control" placeholder="Email Address*" name="Email" id="email">
                                <span class="error" id="emailalert" style="display: none;">Please Enter Email.</span>
                            </div>
                            <!--<div class="input-field">
                                <input type="text" class="form-control" placeholder="Subject*" name="Subject" id="subject">
                                <span class="error" id="subjectalert" style="display: none;">Please Enter      Subject.</span>
                            </div>-->
                            <div class="input-field">
                                <select name="Patient Information" id="patientoption" class="form-control">
                                 <option value="">Please Select Option*</option>
                                  <option value="PA">Patient Advocate</option>
                                  <option value="HIM">Hospital HIM</option>
                              </select>
                              <span class="error" id="patientalert" style="display: none;">Please Select any option</span>
                            </div>
                            <!--<div class="input-field">
                                <textarea class="form-control" placeholder="Message" rows="3" name="Message"></textarea>
                            </div>-->
                            <input type="hidden" name="_subject" value="[UnBlock Health] - Contact Form Submission" />
                            
                            <input id="contact-submit-live" type="button" class="btn btn-send" value="REGISTER">
                            <!--<button class="btn btn-send" type="submit">Send me</button>-->
                        </form>

                        <div id="success" style="display:none;">
                            
                        </div>
                        <div id="error" style="display:none;">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}