<footer id="commonfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-4 about-unblock">
                <img src="/images/footer-logo.png" class="footer-logo" alt="{{ .Site.Params.logotitle }}" title="{{ .Site.Params.logotitle }}"/></br>
                 <p>{{ .Site.Params.footersectionaboutcontent }}</p>
            </div>
            <div class="col-md-4 twitter-feed">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-e3a78371-8a26-45c1-b6bb-2bcfe9b6e601"></div>
            

            </div>
            <div class="col-md-4">
                <div class="form-group quick-contact">
                    <h3>Contact Us</h3>
                    <form action="https://formspree.io/mary.john@netspective.org" method="POST"  id="contactform">
                        <div class="input-field">
                            <input type="text" class="form-control" placeholder="Name*" name="Name" 
                                 id="quickname">
                            <span class="error Contact_name_error" id="quicknamealert" style="display: none;">Please Enter Name</span>
                        </div>
                        <div class="input-field">
                            <input type="email" class="form-control" placeholder="Email Address*" name="Email" id="quickemail">
                            <span class="error Contact_email_error" id="quickemailalert" style="display: none;">Please Enter Email.</span>
                        </div>
                        <div class="input-field">
                            <input type="text" class="form-control" placeholder="Subject*" name="Subject" id="quicksubject">
                            <span class="error Contact_subject_error" id="quicksubjectalert" style="display: none;">Please Enter Subject.</span>
                        </div>
                        <div class="input-field">
                            <textarea class="form-control" placeholder="Message" rows="3" name="Message" id="message"></textarea>
                            <span class="error Contact_message_error" id="messagealert" style="display: none;">Please Enter Message*.</span>
                        </div>
                        <input type="hidden" name="_subject" value="[UnBlock Health] - Contact Form Submission" />
                            
                            <button class="btn btn-send" id="contact-submit" type="submit">Send</button>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="row footer-content">
                  <div class="col-md-12">
                        <div class="block">
                           <ul class="nav navbar-nav menu float-lg-right" id="top-nav">
                             <li class="nav-item active">
                                <a id="Home_footer_button" class="nav-link" href="{{ .Site.BaseURL }}">
                                    {{ with .Site.Params.navigation.home }} {{ . }} {{ end }}
                                </a>
                            </li>
                            {{ if .Site.Params.about.enable }}
                                <li class="nav-item">
                                    <a id="About_footer_button" class="nav-link" href="{{ .Site.BaseURL }}#about"> 
                                        {{ with .Site.Params.navigation.about }} {{ . }} {{ end }}
                                    </a>
                                </li>
                            {{ end }}
                            {{ if .Site.Params.service.enable }}
                                <li class="nav-item">
                                    <a id="Services_footer_button" class="nav-link" href="{{ .Site.BaseURL }}#service">
                                        {{ with .Site.Params.navigation.service }} {{ . }} {{ end }}
                                    </a>
                                </li>
                               {{ end }}
                               {{ if .Site.Params.register.enable }}
                                <li class="nav-item">
                                    <a id="Register_footer_button" class="nav-link" href="{{ .Site.BaseURL }}#register">
                                        {{ with .Site.Params.navigation.register }} {{ . }} {{ end }}
                                    </a>
                                </li>
                                {{ end }}
                                <li id="Sitemap_footer_button" class="nav-item"><a class="nav-link" href="{{ .Site.BaseURL }}sitemap">Sitemap</a></li>
                          </ul>
                            <p class="copyright-txt">Comprehensive Healthcare Suite of Patient Advocacy Services Designed for Patients and Consumers - <a href="#">Unblock Health</a> | Copyright &copy; 2019. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


{{"<!-- Js -->" | safeHTML}}
<script src="{{"js/vendor/jquery-2.1.1.min.js" | absURL}}"></script>
<script src="{{"js/bootstrap.min.js" | absURL}}"></script>
<script src="{{"js/vendor/modernizr-2.6.2.min.js" | absURL}}"></script>
<script src="{{"js/jquery.lwtCountdown-1.0.js" | absURL}}"></script>
<script src="{{"js/owl.carousel.min.js" | absURL}}"></script>
<script src="{{"js/jquery.validate.min.js" | absURL}}"></script>
<script src="{{"js/jquery.form.js" | absURL}}"></script>
<script src="{{"js/jquery.nav.js" | absURL}}"></script>
<script src="{{"js/wow.min.js" | absURL}}"></script>
<script src="{{"js/main.js" | absURL}}"></script>

</body>

</html>