<article style="background:#3b4862;" class="slds-p-vertical_medium">  
    <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">
  
   <!-- hero > starts > --> 
   <article class="slds-grid slds-wrap slds-gutters slds-p-vertical_xx-large slds-grid_vertical-align-center">
    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
      <aside class="slds-text-align_center">
        <iframe src="https://player.vimeo.com/video/768526940?h=6cfe3931ee&title=0&byline=0&portrait=0" width="100%" height="440" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        {{/*  <iframe src="https://vimeo.com/768526940" width="100%" height="440" frameborder="0" allow="autoplay; fullscreen;" allowfullscreen></iframe>  */}}
      </aside>
    </div>
    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <aside class="slds-m-left_medium">
      <h1 class="slds-color__text_gray-1" style="font-size: 48px; line-height:56px; font-weight: 700!important;">Future Of Individual Access Is Here</h1>
      <p class="slds-color__text_gray-1" style="font-size: 23px; line-height:34px;">Become a leader in individual patient access services with the power of Unblock Health. Patients’ lives are counting on you!</p>
  
    </aside>
    </div>
    
  </article>
  </article>
  <!-- hero < ends < -->  
  <!-- content 1 > starts > --> 
 <section style="background:#F4F8FF;" class="slds-p-vertical_medium">  
    <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">
   <article class="slds-grid slds-wrap slds-gutters slds-p-vertical_xx-large">
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
      <aside>
        <h1 style="font-size: 48px; line-height:56px; font-weight: 700!important;">Unblock Health replaces the status quo and gets the job done</h1>
        <p style="font-size: 23px; line-height:34px;">Unblock Health provides a suite of digital tools that transform chaos and friction associated with individual access into simplicity.</p>
        <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_medium">
          <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12"><button class="slds-button slds-button_stretch slds-button_brand slds-p-around_medium slds-color__text_gray-1 slds-m-bottom_small" id="register-patient-advocate">
            <span class="slds-text-heading_medium"><b>Register for an Invitation as a Patient Advocate</b></span></button></div>
          <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12"><button class="slds-button slds-button_stretch slds-button_outline-brand slds-p-around_medium slds-m-bottom_small" id="register-hospital-him">
            <span class="slds-text-heading_medium"><b>Register for an Invitation as a Hospital HIM</b></span></button></div>
        </div>
      </aside>
      </div>
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
        <aside class="slds-text-align_center"><img src="/images/hero-diagram.svg" alt="" width="500"></aside>
      </div>
    </article>
   <!-- content 1 < ends < -->  
  </div>
  </section>  
      <!-- main starts > -->
      <main>     

        <!-- Patient Impact Stories -->
        <article class="slds-p-vertical_x-large slds-color__background_gray-1">   
          <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small slds-m-top_large">
            <p style="font-size: 23px; line-height:33px;" class="slds-text-align_center slds-p-bottom_small">Patients and their families need easy access to their health information. The Patient Impact Stories library is a collection of real stories of harm that happens when patients don’t have access to their records and the good that happens when they do.</p>
            <aside class="slds-grid slds-wrap slds-gutters slds-text-align_center">
              <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
              <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-1.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
              <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Stress & Labor</p></a>
              </div>
              <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
              <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-2.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
              <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Suffering</p></a>
              </div>
              <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
              <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-3.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
              <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Harm & Benefit</p></a>
              </div>
              <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
              <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-4.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
              <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Stress and Labor</p></a>
              </div>
              <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
              <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-5.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
              <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Delay and Suffering</p></a>
              </div>
              <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-medium-size_2-of-12">
              <a href="#."><div class="slds-m-bottom_small"><img src="/images/patient-thumb-6.jpg" alt="" style="width:100%; height:100px; object-fit:cover; border-radius: 5px;"></div>
              <p class="slds-text-body_small slds-m-bottom_none" style=" min-height: 50px;line-height: 18px;">Prevents Complications</p></a>
              </div>
            </aside> 
            </div> 
          </article>