<article style="background:#3b4862;" class="slds-p-vertical_medium">  
  <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">

 <!-- hero > starts > --> 
 <article class="slds-grid slds-wrap slds-gutters slds-p-vertical_xx-large slds-grid_vertical-align-center">
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <aside class="slds-text-align_center"><iframe src="https://player.vimeo.com/video/768526940?h=6cfe3931ee&title=0&byline=0&portrait=0" width="100%" height="440" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></aside>
  </div>
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
  <aside class="slds-m-left_medium">
    <h1 class="slds-color__text_gray-1" style="font-size: 48px; line-height:56px; font-weight: 700!important;">The future of individual patient access is NOW</h1>
    <p class="slds-color__text_gray-1" style="font-size: 23px; line-height:34px;">Eliminate the friction of individual patient access services—fast, easy, digital</p>

  </aside>
  </div>
  
</article>
</article>
<!-- hero < ends < -->  
<!-- content 1 > starts > --> 
<section style="background:#F4F8FF;" class="slds-p-vertical_medium">  
  <div class="slds-container_x-large slds-container_center slds-p-left_small slds-p-right_small">
 <article class="slds-grid slds-wrap slds-gutters slds-p-vertical_xx-large">
    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <aside>
      <h1 style="font-size: 48px; line-height:56px; font-weight: 700!important;">Individual patient access is broken</h1>
      <p style="font-size: 23px; line-height:34px;">It's time to transform the patient experience with simple, digital workflows. No more photocopies and clipboards, fax machines, and endless phone calls.</p>
      <p style="font-size: 23px; line-height:34px;">Because let's face it—the status quo isn't working.</p>
      <p style="font-size: 23px; line-height:34px;">There's a better way to share information. And it's ready for you now.</p>
      <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_medium">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12 slds-text-align_center"><button class="slds-button slds-button_stretch slds-button_brand slds-p-around_medium slds-color__text_gray-1 slds-m-bottom_small" id="register-patient-advocate">
          <span class="slds-text-heading_medium"><b>Patient advocate?</b></span></button><span class="slds-text-body_small" style="color:#999;">Become a beta tester</span></div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12 slds-text-align_center"><button class="slds-button slds-button_stretch slds-button_outline-brand slds-p-around_medium slds-m-bottom_small" id="register-hospital-him">
          <span class="slds-text-heading_medium"><b>Hospital HIM?</b></span></button><span class="slds-text-body_small" style="color:#999;">Become a beta tester</span></div>
      </div>
    </aside>
    </div>
    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
      <aside class="slds-text-align_center"><img src="/images/hero-diagram.svg" alt="" width="500"></aside>
    </div>
  </article>
 <!-- content 1 < ends < -->  
</div>
</section>  
    <!-- main starts > -->
    <main>  