<div class="container">
    <nav class="navbar navbar-fixed-top  navigation" id="top-nav">
        <div class="container headshot-container">
          <div class="col-lg-8 col-md-12 pt-1">
            <div itemscope="" itemtype="http://schema.org/MedicalOrganization">
             <a class="navbar-brand float-none float-lg-left" href="{{ .Site.BaseURL }}" itemprop="url">        
                <img src="/images/logo.png" alt="{{ .Site.Params.logotitle }}" title="{{ .Site.Params.logotitle }}" itemprop="logo"/>      
              </a>
            </div>
        <button class="navbar-toggler hidden-lg-up float-lg-right" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <i class="tf-ion-android-menu"></i>
        </button>
        
    <div class="collapse navbar-toggleable-md" id="navbarResponsive">
            <ul class="nav navbar-nav menu float-lg-right" id="top-nav">
                <li class="nav-item active">
                    <a id="Home_Top_Button" class="nav-link" href="{{ .Site.BaseURL }}">
                        {{ with .Site.Params.navigation.home }} {{ . }} {{ end }}
                    </a>
                </li>
                {{ if .Site.Params.about.enable }}
                    <li class="nav-item">
                        <a id="About_Top_Button" class="nav-link" href="{{ .Site.BaseURL }}#about">
                            {{ with .Site.Params.navigation.about }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                {{ if .Site.Params.service.enable }}
                    <li class="nav-item">
                        <a id="Service_Top_Button" class="nav-link" href="{{ .Site.BaseURL }}#service">
                            {{ with .Site.Params.navigation.service }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                {{ if .Site.Params.register.enable }}
                    <li class="nav-item">
                        <a id="Register_Top_Button" class="nav-link" href="{{ .Site.BaseURL }}#register">
                            {{ with .Site.Params.navigation.register }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                <li class="nav-item" id="current">
                        <a id="News_Top_Button"  class="nav-link"  href="{{ .Site.BaseURL }}news">
                            News
                        </a>
                    </li>
					<li class="nav-item" id="press">
                        <a id="Press_Top_Button"  class="nav-link"  href="{{ .Site.BaseURL }}press">
                            Press
                        </a>
                </li>
                <li class="nav-item" id="faq">
                    <a id="Faq_Top_Button" class="nav-link"  href="{{ .Site.BaseURL }}faqs">
                        {{ with .Site.Params.navigation.faqs }} {{ . }} {{ end }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
      <div class="col-lg-4 col-md-12">
          <div class="row top-head-shot">
                <span class="headshot-title">Brought to you by</span>
                <div class="head-shot-col">
                     <a id="Shahid_twitter_page" href="https://twitter.com/ShahidNShah" target="_blank"><img src="/images/shahid-sha.png" alt="Shahidsha"><br>
                        @ShahidNShah</a>
                </div>
                <div class="head-shot-col">
                    <a id="Grace_twitter_page" href="https://twitter.com/GraceCordovano" target="_blank"><img src="/images/grace.png" alt="Grace Cordovano"><br>
                        @GraceCordovano</a>
                </div>
           </div>
      </div>
    </div> 
    </nav>
</div>