<!-- partners -->   
<article class="slds-container_large slds-container_center slds-p-left_small slds-p-right_small slds-m-top_xx-large slds-m-bottom_xx-large slds-text-align_center">
    <h3 class="slds-m-bottom_xx-large" style="font-size:35px; line-height:45px; font-weight: 700; text-transform: uppercase;">Partners & Supporters of Unblock Health</h3>  
    <aside class="slds-grid slds-wrap slds-gutters">
      <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-m-bottom_small">
      <a href="#."><img src="/images/partners-logo-1.png" alt="" height="95"></a>
      </div>
      <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-m-bottom_small">
        <a href="#."><img src="/images/partners-logo-2.png" alt="" height="95"></a>
        </div>
        <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-m-bottom_small">
          <a href="#."><img src="/images/partners-logo-3.png" alt="" height="95"></a>
          </div>
      </aside>  
  </article>

  <!-- testimonials -->   
  <article class="slds-container_large slds-container_center slds-p-left_small slds-p-right_small slds-p-top_small slds-m-top_xx-large slds-m-bottom_xx-large slds-p-bottom_large">
    <aside class="slds-grid slds-wrap slds-gutters">
      <div class="slds-col slds-size_12-of-12 slds-small-size_12-of-12 slds-m-bottom_small">
        <div class="slds-box slds-color__background_gray-1" style="padding:30px; border-radius: 0px;box-shadow: 3px 3px 12px #ddd;">
          <p class="slds-m-bottom_large" style="font-size:23px; line-height:35px;">"Unblock Health is a first-in-class, comprehensive suite of individual patient access solutions designed for patients, patient navigators, and consumers."</p>
          <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_12-of-12 slds-small-size_8-of-12 slds-m-bottom_xx-small">
              <div class="slds-clearfix slds-m-bottom_xx-small">
                <div class="slds-float_left">
                  <span class="slds-avatar slds-avatar_circle slds-avatar_large">
                    <img alt="Person name" src="/images/avatar.jpg" title="">
                    </span>
                </div>
                <div class="slds-float_left slds-text-body_small slds-m-left_small slds-m-top_xx-small" style="line-height: 18px;width:74%;">
                  <b class="slds-text-heading_small">Grace Cordovano, PhD, BCPA</b><br> <span style="font-size:13px;">Co-Founder, Unblock Health</span>
                </div>
                </div>
            </div>
            <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-m-bottom_xx-small slds-text-align_right">
              <a href="#."><img src="/images/logo-unblock-health.png" alt="" style="max-width: 120px;"></a>
            </div>
          </div>
        </div>
      </div>
      
      {{/*  <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-m-bottom_small">
        <div class="slds-box slds-color__background_gray-1" style="padding:30px; border-radius: 0px;box-shadow: 3px 3px 12px #ddd;">
          <p class="slds-m-bottom_large" style="font-size:23px; line-height:35px;">Lorem ipsum
          </p>
          <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_12-of-12 slds-small-size_8-of-12 slds-m-bottom_xx-small">
              <div class="slds-clearfix slds-m-bottom_xx-small">
                <div class="slds-float_left">
                  <span class="slds-avatar slds-avatar_circle slds-avatar_large">
                    <img alt="Person name" src="/images/avatar.jpg" title="">
                    </span>
                </div>
                <div class="slds-float_left slds-text-body_small slds-m-left_small slds-m-top_xx-small" style="line-height: 18px;width:74%;">
                  <b class="slds-text-heading_small"></b><br> <span style="font-size:13px;"></span>
                </div>
                </div> 
            </div>
            <div class="slds-col slds-size_12-of-12 slds-small-size_4-of-12 slds-m-bottom_xx-small slds-text-align_right">
              <a href="#."><img src="/images/testim-logo-2.jpg" alt="" height="50"></a>
            </div>
          </div>
        </div>
      </div>  */}}
      </aside>  
  </article>

<!-- bottom content -->
<article class="slds-p-top_xx-large slds-p-bottom_large  slds-color__background_gray-1">
  <div class="slds-container_fluid slds-container_center slds-p-left_small slds-p-right_small">
<div class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center">
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <div class="slds-m-left_large">
  <aside class="slds-m-bottom_large">
    <h2 style="font-size: 44px; line-height:50px; color: #6c8ecc;">Discover More Features and See the Possibilities with Unblock Health </h2>
    <p style="font-size: 20px; line-height:30px;">The future of individual access to health information and patient satisfaction will only get faster-paced. Unblock Health is ready to help organizations, providers, and physicians meet patients at life-speed.</p>
  </aside>
  <aside class="slds-form-element slds-m-bottom_xx-large">
      <div class="slds-form-element__control">
      <button class="slds-button slds-button_brand slds-p-vertical_medium slds-p-horizontal_large slds-color__text_gray-1" id="book-a-demo">
        <span class="slds-text-body_small" style="font-size:22px;"><b>Book a demo</b></span></button>
      </div>
  </aside>
  <aside class="slds-p-bottom_xx-large"> 
    <div class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center">
      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-m-bottom_xx-small slds-border_right">
        <div class="slds-m-right_small">
        <div class="slds-grid slds-wrap slds-gutters">
          <div class="slds-col slds-size_4-of-12 slds-m-bottom_xx-small">
          <a href="#."><img src="/images/home-blog-thumb-1.png" alt="" style="width: 100%; height: 65px; object-fit: cover;"></a>
          </div>
          <div class="slds-col slds-size_4-of-12 slds-m-bottom_xx-small">
            <a href="#."><img src="/images/home-blog-thumb-2.png" alt="" style="width: 100%; height: 65px; object-fit: cover;"></a>
            </div>
            <div class="slds-col slds-size_4-of-12 slds-m-bottom_xx-small">
              <a href="#."><img src="/images/home-blog-thumb-3.png" alt="" style="width: 100%; height: 65px; object-fit: cover;"></a>
              </div>
            </div>
            </div>
      </div>
      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-m-bottom_xx-small">
        <div class="slds-m-bottom_xx-small slds-m-left_small">
        Want a tour of Unblock Health blog? <br>
    <a href="/blog"><b>Read our blog</b><span class="slds-icon_container slds-icon-utility-chevronright slds-current-color slds-m-left_x-small" title="">
      <svg class="slds-icon slds-icon_xx-small slds-color__fill_gray-8" aria-hidden="true">
      <use xlink:href="/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
      </svg>
      </span></a> 
      </div>
      </div>
    </div>
  </aside>
  </div>
  </div>
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <aside class="slds-text-align_right"><img src="/images/unblock-screen.png" alt="" ></aside>
  </div>
</div>
</div>
</article>
</main>
<!-- main < ends < -->