{{ partial "header.html" . }}

{{ $context := . }}
{{- partialCached "head" (dict "activeMenu" "About" "context" $context ) "about-page-key" -}}  
  
<main>
<section>   
  <div class="slds-container_fluid slds-container_center">
  <section class="slds-color__background_gray-1 slds-p-vertical_x-large">
    <article class="slds-container_x-large slds-container_center slds-p-horizontal_small">

      <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
          <div class="slds-p-around_medium">      
          <h1 style="font-size: 40px; line-height: 50px;font-weight: 700;">What is Unblock Health?</h1>
          <h3 style="font-size: 26px; line-height: 34px;">Unblock Health is the chief individual patient access solution and excuse eliminator. </h3>
          <p>Unblock Health is the premier solution for one of the biggest failures in health care: individual patient access services. </p>
          <p>Our intelligently designed SaaS makes it easy for patients to request their health information and make correction requests in a digitized, structured, and comprehensive manner while empowering request fulfillers with streamlined workflows, all-in-one command centers, and Information Blocking Rule compliance tools. </p>
          </div>
        </div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
          <div class="slds-p-around_medium">
          <div class="slds-text-align_center slds-m-bottom_xx-small"><img src="/images/image-01.png" alt="" width="" height=""></div>
        </div>
      </div>
    </aside>

    </article>
  </section>

  <section class="slds-p-vertical_x-large" style="background: #F4F8FF;">
    <article class="slds-container_x-large slds-container_center slds-p-horizontal_small slds-p-vertical_medium slds-text-align_center">
    <div class="slds-container_large slds-container_center slds-p-horizontal_small slds-p-vertical_medium slds-text-align_center">
      <h2 class="slds-m-bottom_x-large" style="font-size: 50px; line-height: 58px;font-weight: 700; text-transform: uppercase;">UNBLOCK HEALTH FEATURES</h2>  
      <h3 class="slds-container_medium slds-container_center" style="font-size: 20px; line-height: 28px; font-weight: 500;">Unblock Health replaces the status quo with features to ensure all individual access requests are responded to and fullfilled in a timely manner.</h3>
    </div>

      <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center slds-p-vertical_large">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
          <div class="slds-p-around_medium">
          <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/chat-feature.png" alt="" width="" height=""></div>
        </div>
      </div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
          <div class="slds-p-around_medium slds-text-align_left">   
            <h2 style="font-size: 40px; line-height: 50px;font-weight: 700;">Elevate Communication, Build Trust</h2>
          <h3 style="font-size: 26px; line-height: 34px;">Bi-directional, Asynchronous Messaging</h3>
          <p>Can you imagine not being able to text or direct message with essential contacts all day? Power your individual access request services with our unique asynchronous messaging as a necessary real-world conduit for fast communication between requestors and fulfillers. All communication activities are centralized and documented. It's quick, simple, and effective.</p>   
            <ul>
              <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                    <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </span>
                Seamless communication powers streamlined efficiency and reduced costs.</li>
                <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                  <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                    <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                      <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                    </svg>
                  </span>
                  Sign up for Unblock Health today to unlock improved communication.</li>
              </ul>
          </div>
        </div>
    </aside> 

    <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center slds-p-vertical_large">
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium slds-text-align_left"> 
          <h2 style="font-size: 40px; line-height: 50px;font-weight: 700;">Lead the Way with Industry Standards</h2>
          <h3 style="font-size: 26px; line-height: 34px;">Unblock Health is strategically designed using published best practices from the Office of the National Coordinator of Health IT (ONC), the American Medical Association (AMA), and The Sequoia Project.</h3>
          <p>Our SaaS solution bring the most essential best practices on information-sharing and Information Blocking compliance from print to digital life so your team can confidently deploy streamlined individual access services.</p>      
          <ul>
            <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
              <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                  <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                </svg>
              </span>
              Digitalization is necessary, empower your organization today.</li>
              <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                    <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </span>
                Demonstrate good intent with pioneering action.</li>
            </ul>
        </div>
      </div>
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium">
        <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/feature2-img.png" alt="" width="" height=""></div>
      </div>
    </div>
  </aside>
  
  <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center slds-p-vertical_large">
    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
      <div class="slds-p-around_medium">
      <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/feature3.png" alt="" width="" height=""></div>
    </div>
  </div>
    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
      <div class="slds-p-around_medium slds-text-align_left">   
        <h2 style="font-size: 40px; line-height: 50px;font-weight: 700;">Intelligent Dashboards for End-Users & Requestors </h2>
      <h3 style="font-size: 26px; line-height: 34px;">All-in-One Command Centers</h3>
      <p>Our holistic patient access software gives request fulfillers and requestors a suite of features including status tracking, request progress, compliance documentation, messaging, and so much more.</p>   
        <ul>
          <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
            <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
              <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
              </svg>
            </span>
            Give end-users & requestors greater control and visibility.</li>
            <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
              <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                  <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                </svg>
              </span>
              Decreased administrative staff burden and Patient Administrative Burden.</li>
          </ul>
      </div>
    </div>
</aside>

<aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center slds-p-vertical_large">
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <div class="slds-p-around_medium slds-text-align_left"> 
      <h2 style="font-size: 40px; line-height: 50px;font-weight: 700;">Fully Digitized Forms & Electronic Signatures</h2>
      <h3 style="font-size: 26px; line-height: 34px;">Faster, more sustainable workflows</h3>
      <p>Get necessary patient information, request details, and consent forms faster with convenient electronic forms for easier request processing. Demonstrate your commitment to information-sharing while reducing organizational paper waste.</p>      
      <ul>
        <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
          <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
            <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
              <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
            </svg>
          </span>
          Digitize traditionally paper-based processes.</li>
          <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
            <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
              <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
              </svg>
            </span>
            Reduce paper waste, recycling, and improve energy efficiency.</li>
        </ul>
    </div>
  </div>
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <div class="slds-p-around_medium">
    <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/image-05a.png" alt="" width="" height=""></div>
  </div>
</div>
</aside>

    </article>
  </section>  

  </div>
</section>
</main>
<!-- main < ends < -->
 <!-- footer > starts > -->
 {{- partialCached "footer-new" (dict "activeMenu" "About" "context" $context) "about-page-key" -}} 
 <!-- footer < ends < -->