{{ partial "header.html" . }}

{{ $context := . }}
{{- partialCached "head" (dict "activeMenu" "About" "context" $context ) "about-page-key" -}}  
 
<main>
<section>   
  <div class="slds-container_fluid slds-container_center">
  <section class="slds-p-vertical_x-large slds-color__background_gray-1">
    <article class="slds-container_x-large slds-container_center slds-p-horizontal_small slds-p-vertical_medium">
      <h2 class="slds-m-bottom_x-large slds-text-align_center" style="font-size: 40px; line-height: 50px;font-weight: 700;">It's time to unblock health</h2>  
      <h3 class="slds-container_large slds-container_center slds-text-align_center" style="font-size: 26px; line-height: 34px; font-weight: 400;">Break down the barriers to patient-directed access with tools built on 25+ years of patient advocacy</h3>

    <aside class="slds-grid slds-wrap slds-gutters">
      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-medium-size_6-of-12">
          <div class="slds-p-around_medium">
            <div class="slds-grid slds-wrap slds-gutters">
          <div class="slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium"><img src="/images/real-time-access-to-medical-records.png" alt="" width="" height="" style="width:128px;"></div>
          <div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-m-bottom_xx-small">
            <h4 class="slds-m-bottom_medium" style="font-size:26px; line-height:34px;">Real-time access to health information</h4>
            <p>Provide patients with the info they need, when they need it. And meet the demands of participatory medicine, shared decision-making, and patient consumerism.</p>
          </div>
        </div>
        </div>
      </div>

      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium">
          <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium"><img src="/images/access-to-data-from-wearables.png" alt="" width="" height="" style="width:128px;"></div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-m-bottom_xx-small">
          <h4 class="slds-m-bottom_medium" style="font-size:26px; line-height:34px;">Reduce administrative burden</h4>
          <p>Address questions and give real-time updates with asynchronous messaging between patients and HIM professionals.</p>
        </div>
      </div>
      </div>
    </div>

    <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-medium-size_6-of-12">
      <div class="slds-p-around_medium">
        <div class="slds-grid slds-wrap slds-gutters">
      <div class="slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium"><img src="/images/need-for-transperacy.png" alt="" width="" height="" style="width:128px;"></div>
      <div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-m-bottom_xx-small">
        <h4 class="slds-m-bottom_medium" style="font-size:26px; line-height:34px;">Build trust and transparency</h4>
        <p>Boost satisfaction scores and decrease friction with greater process transparency for patients.</p>
      </div>
    </div>
    </div>
  </div>

  <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-medium-size_6-of-12">
    <div class="slds-p-around_medium">
      <div class="slds-grid slds-wrap slds-gutters">
    <div class="slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium"><img src="/images/correction-of-errors.png" alt="" width="" height="" style="width:128px;"></div>
    <div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-m-bottom_xx-small">
      <h4 class="slds-m-bottom_medium" style="font-size:26px; line-height:34px;">Improve data quality and reduce errors</h4>
      <p>Give patients simple workflows to request records—free from the errors and omissions of manual processes</p>
    </div>
  </div>
  </div>
</div>

<div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-medium-size_6-of-12">
  <div class="slds-p-around_medium">
    <div class="slds-grid slds-wrap slds-gutters">
  <div class="slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium"><img src="/images/patient-advocacy-tools.png" alt="" width="" height="" style="width:128px;"></div>
  <div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-m-bottom_xx-small">
    <h4 class="slds-m-bottom_medium" style="font-size:26px; line-height:34px;">Be an advocate for patients</h4>
    <p>Empower patients to play a strong role in their care journey and help them avoid common friction points.</p>
  </div>
</div>
</div>
</div>

<div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-medium-size_6-of-12">
  <div class="slds-p-around_medium">
    <div class="slds-grid slds-wrap slds-gutters">
  <div class="slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium"><img src="/images/patient-satisfaction.png" alt="" width="" height="" style="width:128px;"></div>
  <div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-m-bottom_xx-small">
    <h4 class="slds-m-bottom_medium" style="font-size:26px; line-height:34px;">Improve patient satisfaction & brand reputation</h4>
    <p>Pinpoint the weaknesses in your workflows to create better coordination and health outcomes.</p>
  </div>
</div>
</div>
</div>

<div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-medium-size_6-of-12">
  <div class="slds-p-around_medium">
    <div class="slds-grid slds-wrap slds-gutters">
  <div class="slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium"><img src="/images/healthcare-organizations.png" alt="" width="" height="" style="width:128px;"></div>
  <div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-m-bottom_xx-small">
    <h4 class="slds-m-bottom_medium" style="font-size:26px; line-height:34px;">Support your HIM professionals</h4>
    <p>Access a professional peer community to address your team’s questions, needs, and experiences.
    </p>
  </div>
</div>
</div>
</div>
</aside>



    </article>
  </section>

  <section class="slds-p-vertical_x-large">
    <article class="slds-container_x-large slds-container_center slds-p-horizontal_small slds-p-vertical_medium">
      <h2 class="slds-m-bottom_x-large slds-text-align_center" style="font-size: 40px; line-height: 50px;font-weight: 700;">Who benefits from better patient-directed access?</h2> 
      <div class="slds-m-bottom_large" style="font-size: 26px; line-height: 34px; font-weight: 400;">
        <p class="slds-text-align_center slds-m-bottom_x-small" style="font-size: 26px; line-height: 34px; font-weight: 400;">Take a look at the questions below. </p><p class="slds-text-align_center " style="font-size: 26px; line-height: 34px; font-weight: 400;"> Anything sound familiar?</p>
      </div>      
      <aside class="slds-grid slds-wrap slds-gutters">
      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium">
          <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium"><img src="/images/health-information-management.png" alt="" width="" height="" style="width:128px;"></div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-m-bottom_xx-small">
          <h4 class="slds-m-bottom_medium" style="font-size:26px; line-height:34px;">Health Information Management professionals (HIMs)</h4>
          <ul class="slds-list_dotted">
            <li class="slds-m-bottom_x-small">Does your organization embrace and comply with regulatory mandates?</li>
            <li class="slds-m-bottom_x-small">Do you know the organizational barriers patients face when accessing their info?</li>
            <li class="slds-m-bottom_x-small">Does your team have a strategy to support patient-directed access?</li> 
            <li class="slds-m-bottom_x-small">Do you still process hand-written or faxed addendum requests?</li> 
            </ul>
        </div>
      </div>
      </div>
      </div>
      
      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium">
          <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium"><img src="/images/office-of-patient-experience.png" alt="" width="" height="" style="width:128px;"></div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-m-bottom_xx-small">
          <h4 class="slds-m-bottom_medium" style="font-size:26px; line-height:34px;">Office of Patient Experience</h4>
          <ul class="slds-list_dotted">
            <li class="slds-m-bottom_x-small">Does poor coordination harm patient outcomes and satisfaction?</li>
            <li class="slds-m-bottom_x-small">Do access delays diminish HCAPS scores or facility and caregiver reputations?</li>
            <li class="slds-m-bottom_x-small">Would easier online access attract patients to receive care from your organization?</li> 
          </ul>
        </div>
      </div>
      </div>
      </div>
      
      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium">
          <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium"><img src="/images/onc.png" alt="" width="" height="" style="width:128px;"></div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-m-bottom_xx-small">
          <h4 class="slds-m-bottom_medium" style="font-size:26px; line-height:34px;">Health Information Exchanges (HIEs) & Qualified Health Information Networks (QHINs)</h4>
          <ul class="slds-list_dotted">
            <li class="slds-m-bottom_x-small">Is supporting patient-directed access a priority for your organization?</li>
            <li class="slds-m-bottom_x-small">Do you lack subject matter expertise about individual access services?</li>
            <li class="slds-m-bottom_x-small">Are you ready for a streamlined approach to getting patients the info they need?</li>
            </ul>
        </div>
      </div>
      </div>
      </div>
      
      <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium">
          <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_3-of-12 slds-m-bottom_medium"><img src="/images/patients-and-care-partners.png" alt="" width="" height="" style="width:128px;"></div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_9-of-12 slds-m-bottom_xx-small">
          <h4 class="slds-m-bottom_medium" style="font-size:26px; line-height:34px;">Patients, carepartners, caregivers, advocates</h4>
          <ul class="slds-list_dotted">
            <li class="slds-m-bottom_x-small">Are you facing a life-altering diagnosis without fast access to your medical information?</li>
            <li class="slds-m-bottom_x-small">Does “information blocking” hinder your understanding and care decisions?</li>
            <li class="slds-m-bottom_x-small">Do you need to correct an error or omission in your medical record?</li>            
            </ul>
        </div>
      </div>
      </div>
      </div>
      
      </aside>
    </article>
  </section>    
  <section class="slds-p-vertical_x-large slds-color__background_gray-1">
    <article class="slds-container_large slds-container_center slds-p-horizontal_small slds-p-vertical_medium">       
      <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center slds-p-vertical_large slds-text-align_center">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_12-of-12">
          <h2 style="font-size: 40px; line-height: 50px;font-weight: 700;">Discover how Unblock Health improves individual patient access
          </h2>
          <button class="slds-button slds-button_outline-brand slds-p-vertical_medium slds-p-horizontal_large slds-color__text_gray-1" id="about-how-help">
            <span class="slds-text-body_small" style="font-size:22px;"><b>See how we help</b></span></button>
        </div>
      </aside> 
    </article>
  </section>
  </div>
</section>
</main>
<!-- main < ends < -->
<!-- footer > starts > -->
{{- partialCached "footer-new" (dict "activeMenu" "About" "context" $context) "About-page-key" -}} 
<!-- footer < ends < -->
<script>
  $(document).ready(function () {
    $("#about-how-help").on("click", function () {
      window.location.href = "/service";
    });
  });
  </script>