{{ partial "header.html" . }}

{{ $context := . }}
{{- partialCached "head" (dict "activeMenu" "Services" "context" $context ) "service-page-key" -}}  
  
<main>
<section>   
  <div class="slds-container_fluid slds-container_center">
  <section class="slds-color__background_gray-1 slds-p-vertical_x-large">
    <article class="slds-container_x-large slds-container_center slds-p-horizontal_small">

      <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
          <div class="slds-p-around_medium">      
          <h1 style="font-size: 40px; line-height: 50px;font-weight: 700;">Simple, patient-directed access to medical records</h1>
          <h3 style="font-size: 26px; line-height: 34px;">Because sharing information should be easy</h3>
          <p>Individual patient access services have struggled too hard for too long. And with new regulations demanding change, improvements are no longer a “nice to have.” </p>
          <p>Unblock Health is the turnkey solution you need.</p>
          <p>Patients can finally request access and corrections to their health records from one digital platform with simple fulfillment workflows, centralized command centers, and tools for regulation compliance.</p>
          </div>
        </div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
          <div class="slds-p-around_medium">
          <div class="slds-text-align_center slds-m-bottom_xx-small"><img src="/images/image-01.png" alt="" width="" height=""></div>
        </div>
      </div>
    </aside>

    </article>
  </section>

  <section class="slds-p-vertical_x-large" style="background: #F4F8FF;">
    <article class="slds-container_x-large slds-container_center slds-p-horizontal_small slds-p-vertical_medium slds-text-align_center">
    <div class="slds-container_large slds-container_center slds-p-horizontal_small slds-p-vertical_medium slds-text-align_center">
      <h2 class="slds-m-bottom_x-large" style="font-size: 50px; line-height: 58px;font-weight: 700; text-transform: uppercase;">Better processes, better satisfaction</h2>  
      <h3 class="slds-container_medium slds-container_center" style="font-size: 20px; line-height: 28px; font-weight: 500;">Replace broken, manual processes with a digital system that delivers fast, accurate responses to all individual access requests.</h3>
    </div>

      <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center slds-p-vertical_large">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
          <div class="slds-p-around_medium">
          <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/chat-feature.png" alt="" width="" height=""></div>
        </div>
      </div>
        <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
          <div class="slds-p-around_medium slds-text-align_left">   
            <h2 style="font-size: 40px; line-height: 50px;font-weight: 700;">Build trust through communication</h2>
          <h3 style="font-size: 26px; line-height: 34px;">Two-way, asynchronous messaging</h3>
          <p>Offer patients more transparency and access with built-in asynchronous messaging. It’s all centralized and documented—quick, simple, effective.</p>   
            {{/*  <ul>
              <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                    <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </span>
                Seamless communication powers streamlined efficiency and reduced costs.</li>
                <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                  <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                    <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                      <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                    </svg>
                  </span>
                  Sign up for Unblock Health today to unlock improved communication.</li>
              </ul>  */}}
          </div>
        </div>
    </aside> 

    <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center slds-p-vertical_large">
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium slds-text-align_left"> 
          <h2 style="font-size: 40px; line-height: 50px;font-weight: 700;">Make best practice the norm</h2>
          <h3 style="font-size: 26px; line-height: 34px;">Built-in compliance support</h3>
          <p>Automatically comply with published best practices from the ONC, AMA, and The Sequoia Project to deliver the best service for every patient.</p>      
          {{/*  <ul>
            <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
              <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                  <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                </svg>
              </span>
              Digitalization is necessary, empower your organization today.</li>
              <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
                <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                    <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </span>
                Demonstrate good intent with pioneering action.</li>
            </ul>  */}}
        </div>
      </div>
      <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
        <div class="slds-p-around_medium">
        <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/feature2-img.png" alt="" width="" height=""></div>
      </div>
    </div>
  </aside>
  
  <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center slds-p-vertical_large">
    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
      <div class="slds-p-around_medium">
      <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/feature3.png" alt="" width="" height=""></div>
    </div>
  </div>
    <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
      <div class="slds-p-around_medium slds-text-align_left">   
        <h2 style="font-size: 40px; line-height: 50px;font-weight: 700;">Greater visibility, less admin work</h2>
      <h3 style="font-size: 26px; line-height: 34px;">All-in-one command center</h3>
      <p>Empower patients and team members with a centralized dashboard for status tracking, request progress, compliance documentation, messaging, and much more.
      </p>   
        {{/*  <ul>
          <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
            <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
              <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
              </svg>
            </span>
            Give end-users & requestors greater control and visibility.</li>
            <li class="slds-m-bottom_small slds-p-left_x-large slds-is-relative">
              <span class="slds-icon_container slds-icon-action-check slds-icon_container_circle slds-is-absolute slds-text-align_center" style="left:0px;top:6px;padding: 2px;height: 17px;width: 17px;background: #6c8ecc;">
                <svg class="slds-icon slds-icon_xx-small" aria-hidden="true" style="width:11px; height:11px; position:relative;top: -2px;">
                  <use xlink:href="/icons/action-sprite/svg/symbols.svg#check"></use>
                </svg>
              </span>
              Decreased administrative staff burden and Patient Administrative Burden.</li>
          </ul>  */}}
      </div>
    </div>
</aside>

<aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center slds-p-vertical_large">
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <div class="slds-p-around_medium slds-text-align_left"> 
      <h2 style="font-size: 40px; line-height: 50px;font-weight: 700;">Fast, sustainable workflows</h2>
      <h3 style="font-size: 26px; line-height: 34px;">Digital forms and electronic signatures</h3>
      <p>Digitize paper processes with electronic forms to quickly send and receive the patient info, request details, and consent forms you need.</p>      

    </div>
  </div>
  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
    <div class="slds-p-around_medium">
    <div class="slds-text-align_center slds-m-bottom_large"><img src="/images/image-05a.png" alt="" width="" height=""></div>
  </div>
</div>
</aside>

    </article>
  </section>  
  <section class="slds-p-vertical_x-large slds-color__background_gray-1">
    <article class="slds-container_large slds-container_center slds-p-horizontal_small slds-p-vertical_medium">   
      <aside class="slds-grid slds-wrap slds-gutters slds-grid_vertical-align-center slds-p-vertical_large slds-text-align_center">
        <div class="slds-col slds-size_12-of-12 slds-medium-size_12-of-12">
          <h2 style="font-size: 40px; line-height: 50px;font-weight: 700;">Discover how Unblock Health improves individual patient access
          </h2>
          <button class="slds-button slds-button_outline-brand slds-p-vertical_medium slds-p-horizontal_large slds-color__text_gray-1" id="service-why-unblock-health">
            <span class="slds-text-body_small" style="font-size:22px;"><b>Why Unblock Health?</b></span></button>
        </div>
      </aside>
    </article>
  </section>
  </div>
</section>
</main>
<!-- main < ends < -->
 <!-- footer > starts > -->
 {{- partialCached "footer-new" (dict "activeMenu" "Services" "context" $context) "service-page-key" -}} 
 <script>
  $(document).ready(function () {
    $("#service-why-unblock-health").on("click", function () {
      window.location.href = "/about";
    });
  });
  </script>
 <!-- footer < ends < -->